[2019-07-22 05:29] kosalag opened #1 "Increase number of parallel classes per grade from 10 to 20"
Increase number of parallel classes per grade from 10 to 20

[2019-07-24 06:24] mohamednizar opened #2 "Enable edit option for Nationalities and ad more Sri Lankan ethnic groups in list"
These are the list of nationalities/ethnicities in Sri Lanka.
- [ ] Sinhalese
- [ ] Sri Lankan Tamils
- [ ] Sri Lankan Moors
- [ ] Indian Tamils
- [ ] Sri Lankan Malays
- [ ] Burghers/Eurasian
- [ ] Indian Moors

In adition, the current options are listed as Sri Lankan BC, Sri Lankan NIC. during the data cleaning part, provide an option to update the nationalities for manual data entries.

[2019-07-26 04:26] mohamednizar opened #3 "Enable edit email for Users"
Current OpenEMIS don't allow to edit the email address. We should allow for, in case if there no email addresses for principals and teacher before Bulk data upload, there is no way to notify.

[2019-08-15 09:28] mohamednizar opened #4 "Enable Text and "/" for admission number"
Currently, the admission number is only allowed to add a number, we need to allow them to type admission number like 2019/AS/G3/1235

[2019-09-16 03:31] jeewana20 opened #5 "Student-Promotion, Repeat and Graduation - High Priority"
Need to configure these two features as the schools are requesting these for the A/L classes that have started this month. there are two academic periods which starts on January for the rest of the grades and September for A/L students

[2019-09-18 06:38] jeewana20 opened #6 "Student Details"
Need to capture the following features of the student.

religion
ethnicity
Did the student attend pre-school?
if Yes the type of institution (gov/private)

[2019-09-18 07:11] jeewana20 opened #7 "Medium of Instruction in A/L Subjects"
Currently, the A/L subjects are not indicated with the medium. it is essential for the examination department to have that feature.

[2019-09-18 08:51] jeewana20 opened #8 "Assessments"
although the assessments were configured earlier to enter SBA and term tests now the marks cannot be entered.

[2019-09-18 08:55] jeewana20 opened #9 "Examinations"
need to include this feature to capture Grade 5 scholarship, O/L and A/L examination results.

[2019-09-18 09:06] jeewana20 opened #11 "Student-Finanace"
Need to capture bank account details of the student. additionally, it should also capture the history of payment details of the scholarship

[2019-09-18 09:10] jeewana20 opened #12 "School- School details"
Need to capture the following details of the school

Difficulty level
medium 
Ethnicity
Grade span
Division
Electorate division
Divisional Secretariat division
GN Division
Reason for closing the school

[2019-09-18 09:13] jeewana20 opened #13 "School- Contact people"
need to capture details of multiple persons for textbooks unforms and etc..,

[2019-09-18 09:21] jeewana20 opened #14 "School- Projects"
Need a feature to capture the  details Nearest School is the Best School

[2019-09-18 10:35] jeewana20 opened #15 "Approved students are not visible in the total student count although they are visible in the pending admission with approved yellow sticker."
Approved students are not visible in the total student count although they are visible in the pending admission with approved yellow sticker.

[2019-09-18 10:38] jeewana20 opened #16 "System Bug-student cannot be entered with age limit"
Certain students cannot be entered with age limit restrictions (special education unit, 13 intermediate pool)

[2019-09-19 03:14] jeewana20 opened #17 "System support for withdrawn students"
withdrawan students are visible in the class

[2019-09-19 03:17] jeewana20 opened #18 "System bug- Edit button"
the edit button is not functional as you cannot add or edit the admission number

[2019-09-19 03:19] jeewana20 opened #19 "System bug-Deselect subjects"
Subjects cannot be deselected from certain grades in certain schools

[2019-09-19 03:21] jeewana20 opened #20 "System bug- Filters in the Directory"
All the users will be listed in the Directory even if the filter options are applied

[2019-09-19 03:22] jeewana20 opened #21 "System bug- student limit in the class"
Can enter students more than the mentioned number for a class

[2019-09-19 03:30] jeewana20 opened #22 "System Technical support- Edited Identity Type"
Edited Identity type is not reflected in the overview from BC to NIC

[2019-09-19 03:42] jeewana20 opened #23 "Grafana bug-Total count"
the total count does not tally with provincial counts in Grafana

[2019-09-19 03:43] jeewana20 opened #24 "School Dashboard- Wrong Class"
in school dashboard, all the students are assigned to Class 1A

[2019-09-23 10:40] jeewana20 opened #25 "Student- Invisible data"
although the data is entered with respect to the following items they are not visible after entry.

Birth District
Birth Divisional Secretariat
Nationality
Birth Certificate Number

[2019-09-23 10:42] jeewana20 opened #26 "Student-insurance"
Need to have complete record of the insurance claim history claimed by the student. probably need to be linked with the insurance company

[2019-09-24 08:44] jeewana20 opened #27 "Student- Attendance /Absence"
Need to configure student daily attendance and Absence

[2019-09-24 08:51] jeewana20 opened #28 "Student-Behaviour"
need to configure Behaviour to later generate character certificates

[2019-09-25 08:28] mohamednizar commented on #24
This was fixed in the dashboard, please check in

[2019-09-26 03:57] jeewana20 opened #29 "School-Finance"
need to configure bank details of the school

[2019-09-26 03:59] jeewana20 opened #30 "Student-Finance"
can be configured to obtain facility fees paid by students

[2019-09-26 04:05] jeewana20 opened #31 "School -Infrastructure"
need to have features to capture the following details
Land
Labs
Libraries
Buildings
Roof area
Water
Electricity
Internet
Telephone
Sanitation

[2019-09-26 04:46] mohamednizar opened #32 "Device details under each student/ teacher"
enable option for add device details under each student/ teacher ..etc (for example, if that TAB program happens, SIS can keep that inventory details too under this information)

[2019-09-26 04:46] mohamednizar opened #33 "SIS : separate count of the inactive/active schools in SIS. Followings are two options for that"
1 ) Total school count can be changed as the total count of active schools
2) A graph (Pie chart) showing the counts of both inactive and active schools.

[2019-09-26 04:52] jeewana20 opened #34 "System- Dashboard"
show different types of institution in the initial institution list | Government schools, private schools, special school and whether they are active and inactive

[2019-09-26 04:56] jeewana20 opened #35 "School -programmes"
Need to capture data related to the following programmes
Uniform
shoe
textbooks

[2019-09-26 05:06] jeewana20 opened #36 "School"

[2019-09-26 05:12] jeewana20 opened #37 "Link with Teacher HRM"
Need to link SIS with Teacher HRM

[2019-09-26 05:48] jeewana20 opened #38 "Student- Result Analysis"
need to do the following with student results

track  progress
generate report card/character certificate
predict trends of student performance

[2019-09-26 05:53] jeewana20 opened #39 "School -History"
need to keep track of what changes have happened to the school.eg- name change

[2019-09-26 07:06] #3 closed

[2019-09-26 07:28] mohamednizar opened #40 "Implementation of SSO and IS"

[2019-09-26 08:17] mohamednizar opened #41 "Setting up data where housing for dashboard."

[2019-09-27 10:11] jeewana20 opened #43 "Bulk Upload _insert"
the columns needed to be increased for subjects in the bulk upload format as many schools are teaching 16 subjects for grade 6-9 students.

[2019-09-27 10:16] jeewana20 opened #44 "System Administration"
Enable delete function from for editing subject. it has been noted that certain subjects are incorrectly assigned to incorrect education levels.

[2019-09-30 04:30] jeewana20 opened #45 "Technical Support"
need to swap to subjects from grade 6-9 and grade 10-11.
1. grade 6-9
correct subject name = life skills and civic education.
incorrect name = citizenship education and governance

2. grade 10-11
correct subject name = citizenship education and governance
incorrect name = life skills and civic education.

[2019-09-30 04:35] jeewana20 opened #46 "Label Change"
Label Change in creating position-
Staff position title as Teacher Service Class
Staff position Grade as Teacher Service Grade

[2019-09-30 06:08] mohamednizar commented on #15
This issue raised due to class number validation bug.We need to run a job move approved students from admission table to institution table. The job was developed and merged on dev branch.

[2019-09-30 06:24] mohamednizar commented on #15
The school must complain on this , of student count different , before we process the update job all student's in approved status must be verified and confirm. Then we can run the job and pull the students to the actual count

[2019-09-30 06:51] mohamednizar commented on #15
**How To Test:**  This should be done in older version of the Dev ,Create a fresh school class and add student's with 0 number count on class, and approve the students and see weather students count is getting update, if not we are good to test the update job with new fix.

[2019-09-30 06:53] mohamednizar commented on #16
@jeewana20 , Please can you share me a scenario on this please with failed student age limit and all

[2019-09-30 11:50] mohamednizar commented on #23
@jeewana20  or @resha007 , can you please refer me where its going actually wrong in the dashboard.

[2019-10-01 03:43] jeewana20 commented on #23
the sum of individual provincial count does not tally with the overall count in the grafana

[2019-10-01 03:45] jeewana20 commented on #23
Nizar
I cannot find the label for System technical Support. Please let me know

On Mon, Sep 30, 2019 at 5:20 PM Mohamed Nizar <notifications@github.com>
wrote:

--
Ms J H P Ariyaratne
Assistant Director of Education
Data Management Branch
Ministry of Education
Isurupaya
Battaramulla

[2019-10-01 04:24] mohamednizar commented on #23
I did cross check it, when we start count we need to get a snapshot of it, else the count must be capture in tables, cos during the count the total count use to increase.Can you please assign an intern and let me know to cross check the Grafana counts in overall.

[2019-10-01 05:49] mohamednizar commented on #23
@jeewana20 added some fixes on grant total query. Please check and let me know.

[2019-10-01 06:46] mohamednizar commented on #23
The count is now match with total.

[2019-10-01 06:46] #23 closed

[2019-10-01 07:03] jeewana20 commented on #23
Hi
Nizar, is this applies to other schools as well? because there were a lot
of schools which faced  this problem.

On Tue, Oct 1, 2019 at 12:16 PM Mohamed Nizar <notifications@github.com>
wrote:

--
Ms J H P Ariyaratne
Assistant Director of Education
Data Management Branch
Ministry of Education
Isurupaya
Battaramulla

[2019-10-01 09:38] mohamednizar commented on #20
A fix added in dev environment, check the issue.

[2019-10-01 10:09] mohamednizar commented on #18
The Admission number is align to the student's academic details, so we can edit on academic information tab.

Follow the given instruction bellow.
![Screenshot from 2019-10-01 15-36-30](https://user-images.githubusercontent.com/8711284/65953375-71940f00-e461-11e9-87ae-ee0d1d1a1ca1.png)
![Screenshot from 2019-10-01 15-36-40](https://user-images.githubusercontent.com/8711284/65953374-71940f00-e461-1

[2019-10-01 10:47] mohamednizar commented on #19
We can de-select subject after adding , if the school wan to remove some certain  subjects they need to delete them one by one.

Please follow the instructions given bellow.

**Navigate to Academic -> subjects**
![Screenshot from 2019-10-01 16-13-19](https://user-images.githubusercontent.com/8711284/65955788-845d1280-e466-11e9-99cf-914ddc7c0217.png)

**Filter the class that need to remove the subj

[2019-10-02 08:39] jeewana20 commented on #16
do I need to check this?

[2019-10-09 04:59] resha007 commented on #43
template is not valid error for the 16 subject template.

[2019-10-09 06:07] jeewana20 commented on #19
checked in dev site. seems ok

[2019-10-09 06:08] jeewana20 commented on #18
checked in dev site. seems ok

[2019-10-09 06:08] jeewana20 commented on #20
checked. it is working now

[2019-10-09 06:42] resha007 commented on #21
checked and ok in dev site

[2019-10-09 08:05] jeewana20 opened #47 "System- Export Institution"
Need a feature in the system to export institution details of all active 10,184 schools

[2019-10-09 08:32] resha007 commented on #24
this is checked in live grafana and ok

[2019-10-10 06:35] mohamednizar commented on #18
There are no any code commit for this.

[2019-10-10 06:36] mohamednizar commented on #19
There are no any code changes for this issue.

[2019-10-10 06:37] mohamednizar commented on #24
The issue verified as fixed.

[2019-10-10 06:37] #24 closed

[2019-10-11 06:42] mohamednizar commented on #43
Please check if this working now ? I  added the template change to the code

[2019-10-14 09:51] resha007 commented on #43
error for sinhala-1st language for option 1 and more errors for subjects

[2019-10-14 09:58] mohamednizar commented on #43
@resha007 did you check if the subject correctly configured the class room ?

[2019-10-15 06:06] jeewana20 opened #50 "Bulk upload- button in login"
insert a button for bulk uploading in the login page of the real site.

[2019-10-15 10:59] mohamednizar opened #51 "BMI according to grade wise in Grafana"

[2019-10-15 11:03] mohamednizar opened #52 "Zonal Level dashboard for SIS progress"
Add more requirements on this

[2019-10-15 11:53] mohamednizar opened #53 "Setup the Grafana with K8"

[2019-10-17 03:51] mohamednizar opened #54 "Migrate grafana DB fro Sqlite to Mysql"

[2019-10-18 06:17] jeewana20 commented on #43
although the subjects are assigned to class still we get the error.
further, the errors after option 9 are not indicated in red

On Mon, Oct 14, 2019 at 3:28 PM Mohamed Nizar <notifications@github.com>
wrote:

--
Thank you
Ms J H P Ariyaratne
Assistant Director of Education
Data Management Branch
Ministry of Education
Isurupaya
Battaramulla

[2019-10-22 09:48] jeewana20 opened #55 "System support- 21038-404 error"
there is a message name "404 forbidden page not found " when logging to staff in academic.
census no. 21038
school name = Dambarawa m.m
we have entered a fresh school coordinator but still the error is there.

[2019-10-22 09:50] jeewana20 opened #56 "Edit gender in Directory"
allow editing gender in the users who are entered through the Directory

[2019-10-24 03:22] jeewana20 opened #57 "Bulk upload - template version"
need to include the versions of both 2007 and online template for each revision

[2019-10-25 10:34] mohamednizar opened #58 "Increase the Data length for full name to 256 Varchar"

[2019-10-28 04:06] jeewana20 opened #59 "Bulk upload sheet"
the remark field is empty in the error reply email

[2019-10-28 04:08] jeewana20 opened #60 "Bulk upload sheet link"
the reply email link for download error file cannot be accessed. 404 error occurs.

[2019-10-28 04:13] jeewana20 opened #61 "Bulk Upload sheet History"
in the History in the bulk upload page error file download links cannot be accessed. 500 error occurs.

[2019-10-28 04:17] jeewana20 opened #62 "Bulk Upload update sheet"
allowing already entered student details into the Bulk Upload update sheet when the template is downloaded by the user.

[2019-10-28 08:00] jeewana20 opened #63 "System technical support"
1241 students are added to the demo site 16070 Koneswara Hindu College

[2019-11-04 23:09] mohamednizar opened #64 "in the Bulk upload sheet, the remark field is empty in the error reply email"

[2019-11-18 08:36] resha007 opened #65 "Options to Bulk upload history"
adding buttons to Bulk upload history page, "do not process/delete" for uploaded files to admin.

[2019-11-18 08:37] #65 closed

[2019-11-18 08:39] resha007 opened #66 "Options to Bulk upload history"
adding buttons to Bulk upload history page, "do not process/delete" for uploaded files to admin.

[2019-12-13 07:35] jeewana20 opened #68 "Grade 1 admission"
Introduce a mobile friendly student registration form for grade 1 admission for 2020

[2019-12-13 07:38] jeewana20 opened #69 "Student Register"
Allowing teachers to print out the names of the students to be pasted in student registry

[2019-12-13 08:32] jeewana20 opened #70 "Staff- end date assigned"
The end date of some staff members are auto-added as "2019/11/29" and they are not visible on the staff list. this is not assigned to the position but rather assigned to the teacher

[2019-12-13 08:44] jeewana20 opened #71 "Report generation"
Provide report generation for the principal to be downloaded as an excel sheet which are entered to the system

[2019-12-13 09:02] jeewana20 opened #72 "Students- Withdrawn"
Withdrawn record is still visible in the class

[2019-12-13 09:04] jeewana20 commented on #72
duplicate

[2019-12-13 09:25] #72 closed

[2019-12-13 09:40] jeewana20 opened #73 "Session time-out"
Attend to session time-out

[2019-12-13 09:42] jeewana20 opened #74 "BULK Upload- Monaragala"
In monaragala zone, in Grafana shows that the schools that have not started bulk upload process are shown as they have bulk uploaded

[2019-12-13 09:46] jeewana20 opened #75 "Subjects- wrongly added"
Life Competencies and Civic Education and Life Competencies and Civic Education(EM) are wrongly added to grade 10 & 11. Civic Education and Governance and Civic Education and Governance(EM) are wrongly added to grade 6-9.

[2019-12-13 10:00] jeewana20 opened #76 "New student Id"
Assign new student id

[2019-12-16 07:25] jeewana20 opened #77 "Suraksha"
Create API for both MoE and Insurance Provider to update their database.

[2019-12-16 08:04] jeewana20 opened #78 "National Examinations"
Create APIs for following national examinations
Grade 5 scholarship
O/L
A/L

[2019-12-18 03:28] jeewana20 opened #79 "Grafana- Loading Issue"
take a lot of time to load panels even for the Admin account at the Moe. after some time it displays as an error in each panel

[2019-12-18 07:51] resha007 opened #80 "Guardian not showing"
When type the NIC number of a guardian in Students->guardian, the suggestions are not shown due loading issue. It's better to create a solution with bulk upload to add guardians which already entered by using Directories as the bulk upload sheet is rejected due to already entered parent via Directory.

[2019-12-19 04:44] mohamednizar commented on #1
@jeewana20  The fix was added, can test and confirm in Dev

[2019-12-19 05:52] mohamednizar commented on #2
@jeewana20 In the dev environment the feature was implemented , please verify and confirm

[2019-12-20 04:34] jeewana20 opened #82 "Student- Health Report Card"
Produce Health report card based on the BMI through the Academic years of the students

[2019-12-20 06:05] mohamednizar commented on #4
@resha007 the fix added for SIS application dev, hope we need to do the same for Bulk upload as well ?

[2019-12-20 06:19] mohamednizar commented on #15
@jeewana20 any updates on this issue, I updated schools info which they complained on this issue: https://github.com/orgs/moe-lk/projects/1#card-28160146

[2019-12-20 06:19] mohamednizar commented on #21
This was done.

[2019-12-20 06:19] #21 closed

[2019-12-20 06:24] jeewana20 commented on #15
Checked the schools. there are few to be checked which will be done by
Kalinda

On Fri, Dec 20, 2019 at 11:49 AM Mohamed Nizar <notifications@github.com>
wrote:

--
Thank you
Ms J H P Ariyaratne
Assistant Director of Education
Data Management Branch
Ministry of Education
Isurupaya
Battaramulla

[2019-12-20 06:26] #43 closed

[2019-12-20 06:27] #16 closed

[2019-12-20 06:29] jeewana20 commented on #20
Is it implemented in production? please confirm

[2019-12-20 06:31] jeewana20 commented on #2
Please confirm whether it is incorporated into dev or production.

[2019-12-20 06:34] jeewana20 commented on #19
Please confirm whether this is done in production.

[2019-12-20 06:36] mohamednizar commented on #19
@jeewana20 ,please follow the instruction in the production and confirm this.

[2019-12-20 06:38] jeewana20 commented on #18
Please confirm this is incorporated into the production.

[2019-12-20 06:44] mohamednizar commented on #18
@jeewana20 please follow the instructions  to confirm in the Prod

[2019-12-20 08:30] mohamednizar commented on #20
@jeewana20 , No will update the prod during this weekend.

[2019-12-20 09:41] jeewana20 opened #83 "Student- inability to add January born"
The system refuses to add January born students

[2019-12-20 09:43] jeewana20 opened #84 "Institution Gender"
Need to have options for Institution gender as some grades are missing certain genders

[2019-12-31 03:30] resha007 opened #85 "[Message Not Found] in field names"
![1](https://user-images.githubusercontent.com/45994536/71609446-8beb9f00-2bae-11ea-8b10-89ab5739b140.PNG)
in dev, in promotion, there is "[Message Not Found]" as field names.

[2019-12-31 08:31] resha007 opened #86 "Last field of Promotion is disabled"
in dev, in promotion, the last field is disabled by default. it activates only when change the previos dropdown twice.
![3](https://user-images.githubusercontent.com/45994536/71615178-eb10da00-2bd5-11ea-9c95-363e36c3fb6e.PNG)

[2020-01-01 07:17] jeewana20 opened #87 "Undo in Promotion"
when a teacher promotes the students mistakenly, there should be a undo feature for undo that action.

[2020-01-02 04:32] resha007 opened #88 "Auto changed the gender"
auto changed the gender to Female of students who are entered through the online system(no any bulk upload interaction).

[2020-01-02 08:07] mohamednizar commented on #85
@resha007  ,The issue was fixed in dev, Please check in confirm this.

[2020-01-02 08:15] mohamednizar commented on #86
This field only enabled if the school has configure next grade for next academic year, please do the test in that view.

[2020-01-03 06:04] mohamednizar commented on #87
@jeewana20 , we have configured this on dev.

[2020-01-06 03:20] resha007 commented on #85
this is fixed in dev

[2020-01-06 03:28] resha007 opened #89 "Student - Keeping the status of dead students"
to keeping a status of students who were alive when entering to the system and then passed away.

[2020-01-06 04:17] mohamednizar commented on #61
This was reolved

[2020-01-06 04:17] #61 closed

[2020-01-06 06:19] resha007 commented on #86
created classes in next academic year, but the field is disabled yet.

[2020-01-06 10:03] resha007 opened #90 "Delete option for duplicated studetns"
an option to delete students from schools who has been entered twice to the system.

[2020-01-08 03:26] resha007 opened #91 "Pending emails to no process status"
in bulk upload, if the insert/update status in no process, the reply email should be sent.

[2020-01-08 03:36] resha007 opened #92 "Father/mother/guardian NIC invalid"
in bulk upload, even the NIC is correct, error shows that nic is invalid

[2020-01-08 08:08] resha007 commented on #88
@mohamednizar as you said, i checked the school for if there any bulk upload files in history. but there is no any bulk upload, but the gender has changed to Female.

[2020-01-08 08:20] resha007 opened #93 "Grafana download class data, all fields"
a feature to download all the fields of the students by school in school dashboard.

[2020-01-08 08:50] resha007 opened #94 "Fullname is limited for 100 characters (Feb 1)"
in bulk upload, the full name is limited to 100 characters. a feature to be created for the students who has more than 100 characters in their names.

[2020-01-08 08:52] resha007 opened #95 "age limit error for failed students (Jan 31 deadline)"
age limit error occurs when inserting students who were failed.  related issues has to confirm #83 , #16

[2020-01-09 08:12] jeewana20 opened #96 "BMI only for grades 1,4,7,10"
in bulk upload, BMI should be required for grades 1,4,7,10.

[2020-01-13 06:24] resha007 commented on #15
popup message to schools, when log into the system, that reminds to check the count mismatch.

[2020-01-14 04:00] #18 closed

[2020-01-14 04:00] #19 closed

[2020-01-14 04:00] #20 closed

[2020-01-14 04:38] nshamit commented on #94
Options are - change to 250 characters
- use middle name and check if this prints out correctly, in order.

[2020-01-14 04:40] janithRS commented on #94
Referred to issue #58

[2020-01-14 04:41] nshamit commented on #93
@mohamednizar to give KT to Imal to handle this.

[2020-01-14 04:47] nshamit commented on #80
Note: assign to sugath also. Priority issue.

[2020-01-14 04:49] janithRS opened #97 "Student Transfer"

[2020-01-14 04:51] nshamit commented on #79
Note: assign Sugath to this task.

[2020-01-14 04:54] kosalag opened #98 "Create a new deployment environment at MoE serverspace"
Create a kubernetes cluster on MoE servers and deploy SIS apps.

[2020-01-14 05:14] janithRS commented on #71
Referred to Grafana download all class fields

[2020-01-14 05:16] #71 closed

[2020-01-14 05:25] jeewana20 opened #99 "Configure 2020"
Needs to configure the active year as 2020, needs to clone, shift, and classes.
--

[2020-01-14 05:39] jeewana20 opened #100 "list of not completed students"
in grafana, get a list of not completed students.

[2020-01-14 05:41] jeewana20 opened #101 "National Schools for provinces"
in grafana, get all the NS according to provinces

[2020-01-14 08:10] resha007 opened #102 "Bulk upload - students count exceeded"
in the bulk upload the sheet is rejected although the total student no for the class equals the no stated in the class

[2020-01-14 08:13] jeewana20 commented on #8
primary education students are assesd by competencies and these competencies are marked by colour scheme.

[2020-01-16 06:04] mohamednizar commented on #93
@nshamit  , informations are shared with @anjilo27 and he is working on it.

[2020-01-16 06:56] mohamednizar commented on #84
@jeewana20 , we have gender options in Institutions for edit, to edit the gender please follow this flow.

1. Login as Privileged user , Principal, Zonal Coordinator , Provincial Coordinator , Admin
2. Navigate in to Institutions -> General -> Overview  ![Screenshot from 2020-01-16 12-23-43](https://user-images.githubusercontent.com/8711284/72500686-1d1f6e80-385b-11ea-91e2-c083c1af944f.png)
3. Cli

[2020-01-16 10:10] mohamednizar commented on #100
@anjilo27 , Please start working on another panel which we could be able to get the list of student's as in the description.

[2020-01-16 10:35] jeewana20 commented on #84
we need options as

- Girls schools with Male students in Primary or/and AL classes.

- Boys schools with female students in Primary or/and AL classes.

[2020-01-16 10:36] jeewana20 commented on #88
for cleansing, we need to change the gender.

[2020-01-17 11:06] mohamednizar commented on #17
@jeewana20  Enabled to delete students from the directory it self, we don;t need to withdrow before delete anymore, you can find the student from the directory by the ID and delete it.

This will support only with one by one delete without giving multiple options for delete many records at one. Is this sufficient for work with the system for cleansing process ?

[2020-01-20 04:54] mohamednizar commented on #83
@jeewana20 , @nshamit , this issue fixed and deployed to the Production

[2020-01-21 04:17] #5 closed

[2020-01-21 04:17] #85 closed

[2020-01-21 04:17] #87 closed

[2020-01-21 04:24] mohamednizar commented on #93
@anjilo27 , did you manage to do this task?

[2020-01-21 10:19] #2 closed

[2020-01-21 10:32] mohamednizar commented on #88
@resha007 , There are bulkupload files related to changed data, we can reprocess either re-upload with correct gender data on this situation.

[2020-01-21 10:32] #88 closed

[2020-01-21 10:41] anjilo27 commented on #93
I am working on it.

[2020-01-22 05:09] janithRS opened #106 "Update bulk upload history table with new feature to re-process file"
Update the bulk upload table with a new feature enabling re-process the data file if the state is pending (Not processed).

[2020-01-22 06:01] mohamednizar commented on #92
@resha007 , cn you share a spreadsheet to reproduce this bug please ?

[2020-01-22 07:44] resha007 commented on #92
[censusNo_className_sis_students_bulk_upload (17).xlsx](https://github.com/moe-lk/sis-php/files/4095820/censusNo_className_sis_students_bulk_upload.17.xlsx)

[2020-01-22 08:57] jeewana20 opened #107 "Promotion"
steps
1. marks the failed students as Failed or transfer or dropout to retain them in the same grade in system.
2. then do the promote through
i. parallel promotion eg 10A to 11A
ii. or pool promotion eg 10A to 11 pool

[2020-01-22 09:16] nshamit commented on #102
@jeewana20 to provide more information

[2020-01-22 09:18] jeewana20 commented on #101
Completed on 2020/01/17

[2020-01-22 09:18] #101 closed

[2020-01-22 09:37] nshamit commented on #100
@anjilo27 to follow up.
validate against whether all fields have been filled.

[2020-01-22 09:38] nshamit commented on #106
#91

[2020-01-22 09:55] jeewana20 commented on #73
when the user logs into the system after 5 seconds the user automatically logs out. this happens throughout the day. even MoE experience this issue.

[2020-01-22 10:25] anjilo27 commented on #101
Completed on 2019/01/17

[2020-01-22 10:27] resha007 commented on #70
![staff end date](https://user-images.githubusercontent.com/45994536/72886407-ca005c80-3d2f-11ea-8307-5ffa89172fb1.PNG)

school census no : 00114

[2020-01-22 10:30] resha007 commented on #55
1. log in to sis as principal or admin (21038)
2. go to in Institute -> staff

![404 error](https://user-images.githubusercontent.com/45994536/72886704-4b57ef00-3d30-11ea-8d1a-63cdb47773ee.PNG)

[2020-01-23 03:19] #86 closed

[2020-01-23 03:20] jeewana20 commented on #17
please do not close the issue until we confirm that it is resolved

[2020-01-23 03:21] jeewana20 commented on #83
we have uploaded a file and still waiting the reply email. when the reply email is received we will confirm

[2020-01-23 03:25] jeewana20 commented on #92
although Nizar said that the NIC contains only 9 digits in the format at yesterday's meeting we checked it today. I confirm that there are 10 digits in father's NIC number

[2020-01-23 05:14] resha007 commented on #17
there is no option to delete the withdrawn students.
![withdrwn delete](https://user-images.githubusercontent.com/45994536/72958442-439a5800-3dcd-11ea-9b62-4e8d202b8544.PNG)

[2020-01-23 05:40] resha007 commented on #17
404 error  when trying to delete enrolled students in prod
![delete](https://user-images.githubusercontent.com/45994536/72959522-9590ad00-3dd0-11ea-96fe-602884c8386d.PNG)

[2020-01-23 06:27] jeewana20 opened #108 "Grade 5 scholarship format to examination department"
the following format is required by the examination department for their grade 5 scholarship admissions. this must be provided via API
[EXAM 5 SCHOLARSHIP.xlsx](https://github.com/moe-lk/sis-php/files/4101549/EXAM.5.SCHOLARSHIP.xlsx)

[2020-01-23 06:55] jeewana20 commented on #102
for example, the student count is set to 40. and if you are going to upload 40 students through bulk upload the system rejects stating the that the student count has exceeded. when they delete 5 students from the sheet it was successfully uploaded. then they increase the class count to 45 then they again upload the 5 students previously deleted. then they were able to upload the 5 students.

[2020-01-23 06:56] jeewana20 commented on #100
the schools must get an excel sheet where the students' other details such as subjects, special needs and guardian details are not filled.

[2020-01-23 07:00] jeewana20 commented on #99
this should also include assigning subjects to classes as well as it will lessen the burden

[2020-01-23 07:01] jeewana20 commented on #98
#90

[2020-01-23 07:04] jeewana20 commented on #96
it should be also reflected in the online system. only grade1,4,7,10 grades are allowed to enter BMI and other grades not. there should be message as well notifying this to teachers.

[2020-01-23 08:05] jeewana20 commented on #107
also, it should be noted that A/L students do not follow the same promotion. for example, in  December 2018 the students will sit for the O/L and be promoted to 11 intermediate pool in 2019. then they will remain there until September 2019. during the September they will be promoted to 12-grade class.  in 2020 they will remain there until September 2020. then in September 2020, they will be promot

[2020-01-23 08:10] mohamednizar commented on #102
@jeewana20 , can we confirm that the issue is relay existing in the system ? or the users mistaken the process?

[2020-01-23 08:11] jeewana20 commented on #95
this happens when these students are entered for the first time to the system via bulk upload

[2020-01-23 08:14] jeewana20 commented on #94
it was decided that the middle name field to be used in these cases. however, when the full name is required the portion of the name appeared in the middle name field must also be there.

[2020-01-23 08:15] jeewana20 commented on #91
#106

[2020-01-23 08:17] jeewana20 commented on #91
currently, there is no reply email is sent to the user when the files   show no process in history.

[2020-01-23 08:27] resha007 opened #110 "Male Female Count in Classes is Incorrect"
male female count is incorrect in Institutions -> Academic -> Classes. but the gender is correct in those students.

![female count](https://user-images.githubusercontent.com/45994536/72967731-fd9ebd80-3de7-11ea-91a6-f5d83cd74c45.PNG)

[2020-01-23 08:36] jeewana20 commented on #84
at 22/01/2020 meeting it was decided that the gender to be assigned to each level
1-5 grades
6-9 grades
10-11 grades
12-13 grades and 13 years programme

[2020-01-23 08:50] jeewana20 commented on #77
Need an API that cater to the data requirement of the Insurance company. also, Moe Needs to acquire data from the insurance company which details the claim history of each student.

[2020-01-23 08:51] jeewana20 commented on #76
New student id to be introduced rather than system generated one for Suraksha and other projects.

[2020-01-23 09:02] jeewana20 commented on #66
#106

[2020-01-23 09:05] #60 closed

[2020-01-23 09:06] #57 closed

[2020-01-23 09:17] jeewana20 commented on #56
it is difficult to change the gender of parents as some mistakenly added the wrong gender to parents. furthermore, it is impossible to search a user from a directory

[2020-01-23 09:20] resha007 commented on #52
please clarify whether you need requirements from our side on this issue.

[2020-01-24 04:01] jeewana20 commented on #35
the templates are attached herewith[template phase 2.xlsx](https://github.com/moe-lk/sis-php/files/4106770/template.phase.2.xlsx)

[2020-01-24 04:06] jeewana20 commented on #26
#77

[2020-01-24 04:11] jeewana20 commented on #22
some users have entered guardian identity type as BC and even though the identity number can be edited the identity type remains BC

[2020-01-24 04:11] resha007 commented on #20
when click search, loading for a long time and "504 Gateway Time-out" error occured in prod.

[2020-01-24 04:14] jeewana20 commented on #15
22nd meeting it was decided that the solution provided by Nizar with button needs to make the user to use this facility rectify the error for eg including a tooltip

[2020-01-24 04:32] jeewana20 commented on #4
this is not working

[2020-01-26 16:03] mohamednizar commented on #107
@jeewana20 , we  implemented the pool promotion in the workflow, I have merged the code to the dev and you can see them in the dev environment. Please comment if any alterations needed.

[2020-01-26 16:04] mohamednizar commented on #106
https://github.com/moe-lk/bulk-upload/pull/112  is contained the solution for this.

[2020-01-26 16:08] mohamednizar commented on #106
@jeewana20 , The solution is deployed to the dev, please comment if any changes needed.

[2020-01-26 16:13] mohamednizar commented on #95
@jeewana20 , Is this issue still exisit after fixing  Jan - Born bug #16

[2020-01-27 03:21] resha007 commented on #83
we are not able to check this because reply emails are not receiving in dev

[2020-01-27 04:42] resha007 commented on #107
in parallel promotion, those students promoted only to the next grade pool, not to the classes.
![not assinged to classes](https://user-images.githubusercontent.com/45994536/73149671-72c00a80-40e8-11ea-86c1-2d9f9db88f0c.PNG)

[2020-01-27 04:45] resha007 commented on #107
message not found in confirmation page
![2](https://user-images.githubusercontent.com/45994536/73150768-f9c3b180-40ed-11ea-9ff0-a47bf1e70488.PNG)

[2020-01-27 04:47] resha007 commented on #107
student repeats(duplicated) in the selection list of student promotion
![promo error stu repeated](https://user-images.githubusercontent.com/45994536/73150802-2a0b5000-40ee-11ea-91db-22e15c2ebb3f.PNG)

[2020-01-27 05:01] anjilo27 commented on #93
@mohamednizar I have a question to get student all subjects ( subject per column ). I write the query and it shows one subject in one column. Below I attached  the query. Now I want to span this to subject per column.

IFNULL(edus.name, 'NA') as `Subject 1`,
left join institution_subject_students iss on ist.id = iss.student_id
left join education_subjects edus on edus.id = iss.education_subject_id

[2020-01-27 05:25] resha007 commented on #107
pool promotion is ok except the message not found error in confirmation.

[2020-01-27 05:39] mohamednizar commented on #107
@resha007 , the dev env has duplicated student information , please check them in  Demo.

[2020-01-27 06:03] resha007 commented on #106
no buttons appear in history.
![history error](https://user-images.githubusercontent.com/45994536/73153184-ce928f80-40f8-11ea-849d-48474af8db08.PNG)

[2020-01-27 08:09] janithRS commented on #106
Fixed in the latest commit. Will be available in the dev shortly

On Mon, Jan 27, 2020 at 11:33 AM Reshan Rajasuriya <notifications@github.com>
wrote:

[2020-01-28 03:53] resha007 commented on #106
is bulk upload - dev working?

[2020-01-28 05:08] resha007 commented on #107
its better to have a back button in confirmation page.

[2020-01-28 07:11] resha007 commented on #107
@mohamednizar can we add some tooltips for promotion screen? from ourside, it can be done if you configure it for us.

[2020-01-28 07:17] resha007 commented on #90
directory search is not working properly in prod

[2020-01-28 09:07] mohamednizar commented on #90
@resha007 , can you check this in demo ?

[2020-01-28 09:11] mohamednizar commented on #91
@jeewana20 , email will only send to the user if we got properer success/ fail status by processing a file. From Sumedh's concer will teacher attend to update the status of file ?

[2020-01-28 09:32] jeewana20 opened #115 "Divison Level grafana"
divisional level grafana to be configured.

[2020-01-28 09:35] jeewana20 commented on #91
can we send an email to the users who have files with "no process" status to go to history and click the correct file to be reprocessed.

[2020-01-28 09:41] mohamednizar commented on #91
hmm, yes that can be done

[2020-01-28 09:59] resha007 commented on #90
in directory search, the result is "There are no records."

[2020-01-28 11:20] mohamednizar commented on #70
@jeewana20 ,can't they edit the end of assignment ?

[2020-01-28 12:40] jeewana20 commented on #70
no. you have to make a new position and assign it to the teacher

On Tue, Jan 28, 2020, 17:20 Mohamed Nizar <notifications@github.com wrote:

[2020-01-28 17:58] mohamednizar commented on #70
@jeewana20 , we written a migration for update end of assignment of staffs, once it deployed to the demo you can verify with the reported school's information.

[2020-01-28 18:00] mohamednizar commented on #98
@jeewana20 , since we have given new environment to the MoE you can close this issue.

[2020-01-29 04:04] jeewana20 commented on #98
#closed

[2020-01-29 04:49] nshamit commented on #92
Ready for UAT by Jan 30th.

[2020-01-29 04:50] nshamit commented on #91
Notification to users w/ files that are not being processed will be done by Jan 30

[2020-01-29 04:56] nshamit commented on #99
- Confirm that the academic year can be copied accurately when creating a new academic year by 31st Jan

- Ready for UAT by Feb 3

[2020-01-29 05:12] nshamit commented on #79
Deployment of new applications by Monday 3rd Feb

[2020-01-29 05:16] nshamit commented on #70
- Once migration done Jan 29, Nizar will send email to Jeewana.
- Jeewana needs to test with school IDs with the issue.

[2020-01-29 05:19] nshamit commented on #15
Integration from pop-up & back end process.
Done by Jan 31st.
UAT by Monday 3rd Feb.

[2020-01-29 05:31] jeewana20 commented on #102
no cases found

[2020-01-29 05:31] #102 closed

[2020-01-29 05:38] #98 closed

[2020-01-29 05:47] jeewana20 commented on #100
this can be fulfilled by #93

[2020-01-29 06:07] jeewana20 opened #120 "Student Details - religion"
Need to capture the following features of the student.

religion

[2020-01-29 06:08] jeewana20 opened #121 "Student Details - pre school"
Need to capture the following features of the student.

Did the student attend pre-school?

[2020-01-29 06:15] #25 closed

[2020-01-29 06:55] jeewana20 opened #122 "Zonal Level Grafana"
a new dashboard is wanted to zonal coordinators

[2020-01-31 03:44] resha007 commented on #106
no emails received yet.pending for email status.
![no emails](https://user-images.githubusercontent.com/45994536/73511006-22a7b780-440a-11ea-9c37-fb7994911f44.PNG)

[2020-01-31 11:05] mohamednizar commented on #76
@jeewana20 , we enabled the new studentID in bulk-upload. This will enable new student ID for new students.Not yet confirmed with stage.

[2020-01-31 11:06] mohamednizar commented on #70
@jeewana20 , @nshamit  we wrote migration for this, but we encounter an issue on running that migration in new stag, let us resolve it,after this there is no any additional steps needed for staff. They will re assinged to the there positions without editing them .

[2020-01-31 11:10] mohamednizar commented on #106
@jeewana20 , @nshamit , the email function for this issue is committed , but the cronjob is not yet enabed in the stag. Ref email issue in dev, we on debugging progress still not encountered the reason for this.

[2020-02-03 08:33] jeewana20 commented on #107
the tooltips
[tooltips sinahala.docx](https://github.com/moe-lk/sis-php/files/4146877/tooltips.sinahala.docx)
 are attached herewith

[2020-02-03 08:33] jeewana20 commented on #107
[tooltips.docx](https://github.com/moe-lk/sis-php/files/4146879/tooltips.docx)

[2020-02-05 06:26] jeewana20 opened #128 "Help is not working"
help in the system cant be accessible. its showing 404 error.
![404 error help](https://user-images.githubusercontent.com/55229512/73816387-849f5d00-480e-11ea-9101-67cc370de640.PNG)

[2020-02-05 06:47] janithRS commented on #128
Fixed #129

[2020-02-05 06:59] jeewana20 commented on #107
for grade 12 ,13 and 13 intermediate pool, make the academic year set to current year automatically.

Eg: Students who have been promoted to grade 12 in September 2019 the system automatically set the academic year to YR2020 in 2020.

[2020-02-05 07:17] resha007 commented on #128
help is still not working

[2020-02-05 07:44] janithRS commented on #128
Please clear the cache and try again. It is working on the dev.

[2020-02-05 09:25] resha007 commented on #128
we tried with several machines with several browsers. it is worked fine in dev, but the prod, error remains.

[2020-02-05 09:27] janithRS commented on #128
Yes. Prod is to be updated

[2020-02-05 10:04] mohamednizar commented on #107
@jeewana20 , we have merged the parallel promotion to the sis demo.

[2020-02-06 05:56] mohamednizar commented on #107
@jeewana20 , @nshamit

Here what are the pre request for do the promotion.

1. Setting up the School configurations
   * Shifts
   * Parallel class for new Academic year: We will clone this for all schools #99

2. Set the current academic year - 2019

For testing this we need do the shifts and parallel class manually for a particular school.

And follow the steps to promote

**Navigate the Student

[2020-02-07 03:54] resha007 commented on #128
help is still not working.

[2020-02-07 08:03] resha007 commented on #106
any update in this issue?

[2020-02-07 08:27] jeewana20 opened #132 "Grafana bug"
the details in SIS are not reflected in grafana.

eg : school name of census number 05403 has been changed recently and still the old name is shown in grafana.

[2020-02-07 09:02] anjilo27 commented on #93
Grafana All class data download query now uploaded to grafana and now it visible in school dashboard. (without admission No and DS division & I am working on it)

[2020-02-11 08:45] resha007 commented on #107
can we add a button to promote when they insert all the students into the system, rather than promoting automatically?

[2020-02-11 09:00] nshamit commented on #107
Hi Reshan, can we cover this by telling teachers / administration to upload
students by a certain date?

On Tue, Feb 11, 2020 at 2:15 PM Reshan Rajasuriya <notifications@github.com>
wrote:

--
Sherazad Hamit
Program Director
Code for Sri Lanka
Lanka Software Foundation
M: +94 777 37 49 57
E:  sherazad@opensource.lk

[2020-02-11 09:46] jeewana20 commented on #107
it is difficult to impose an exact date to them because of resource problems, login logout problem.

[2020-02-12 06:44] nshamit commented on #15
Next steps:
- need help on cake php integration w/ laravel. Nizar to consult expert from community on this.

[2020-02-13 02:07] janithRS opened #134 "Create a temporary alert in Bulk upload"
Create a temporary alert in Bulk upload dashboard indicating that the email processing is currently paused due to a maintenance upgrade.

[2020-02-13 06:30] jeewana20 commented on #128
now its working.

[2020-02-13 06:30] #128 closed

[2020-02-13 09:29] resha007 commented on #90
in dev and demo, in directory search, the result is "There are no records.". therefore cant test the permanent delete.

[2020-02-13 17:59] Fuseteam opened #136 "Missing Controller"
i cloned the repo into my webroot and assessed it via the browser under "localhost/sis/php"
i am greeted with an error `Error: sis-phpController could not be found`

i have tried creating the file in  src/Controller/sis-phpController.php
but still the same error
please advise

[2020-02-14 04:47] resha007 commented on #90
delete from student list and add again via "add student" is working in dev and demo.

[2020-02-14 06:03] mohamednizar commented on #136
@Fuseteam ,  try out our docker setup for start working with the project. https://github.com/moe-lk/sis. You would be able start the project run by docker-compose up.

Else you need follow the configuration for cakephp in apache2. copy  the https://github.com/moe-lk/sis-php/blob/master/apache_default to your apache2 config folder and refer the webroot in the line of 16 and 17.

[2020-02-14 09:02] mohamednizar commented on #107
@jeewana20 , we have merged pool promotion of all grades to the dev, will merge them stage as well.
Also we will run the cron job for promote students, by the time you would be able see how student's a promoted.

[2020-02-14 13:04] Fuseteam commented on #136
thanks, indeed that seems to have solved that error
but now i get this error:`Cache engine Cake\Cache\Engine\FileEngine is not properly configured. ` , should i open a new issue about it?

[2020-02-14 15:32] Fuseteam commented on #136
update:
i found out i had to do this command
[code]

[2020-02-16 19:35] Fuseteam commented on #136
closing issue as the original issue is solved

[2020-02-16 19:38] Fuseteam opened #138 "missing table themes"
after correctly setting up the database connection i get the error "table themes does not exist" as the database it's connecting to is brand new it does not contain any tables at the moment.
Please advise how to get the application to set the tables it needs up

[2020-02-17 04:48] #136 closed

[2020-02-17 06:01] mohamednizar commented on #138
@Fuseteam , log in to you Mysql instance and check if it has a database call OpenEMIS, Use Mysql workbench for it.

[2020-02-17 08:36] resha007 commented on #107
we checked some schools in dev, and promotion cron is not performed yet.

[2020-02-17 10:03] Fuseteam commented on #138
@mohamednizar it does the database need that exact name? otherwise a database called "openemis" does exist, it doesn't contain any tables however

[2020-02-17 10:10] mohamednizar commented on #138
@Fuseteam than import the DB from https://github.com/moe-lk/sis/tree/master/mysql/Dump20190205 and run `bash build.sh` in the application root folder.

[2020-02-17 11:12] Fuseteam commented on #138
@mohamednizar does that script import the db? there seems to be a lot of sql files i missed.....

[2020-02-18 06:18] #134 closed

[2020-02-19 05:25] janithRS commented on #138
@Fuseteam  https://github.com/moe-lk/sis/tree/master/mysql/Dump20190205 Use this dump to import data tables (tools-> import data -> select sql file-> select schema -> import) into your db. You can use Mysql workbench for it. As you said earlier, the schema name is 'openemis'

[2020-02-19 09:14] #73 closed

[2020-02-19 12:23] Fuseteam opened #145 "css styles missing"
after initial setup  and importing of the table the login screen seems to miss css styles

[2020-02-19 17:17] Fuseteam commented on #138
@janithRS thanks i got in

[2020-02-19 17:17] #138 closed

[2020-02-20 03:14] janithRS commented on #145
@Fuseteam Please add a descriptive issue with a screenshot. That way we could understand the problem and provide you with a solution easily

[2020-02-20 09:07] janithRS opened #146 "Implement test cases to test Promotion functionality"

[2020-02-20 13:02] Fuseteam commented on #145
@janithRS i'm not sure how much more descriptive i can be the css styles other than the css styles are missing
here's an screenshot
![image](https://user-images.githubusercontent.com/10421851/74936023-248ce700-53c8-11ea-8b87-1e3acce46cf3.png)

[2020-02-21 04:15] janithRS commented on #145
Hmm.. Looks like you haven't enabled the apache rewrite mode, try this
https://stackoverflow.com/questions/869092/how-to-enable-mod-rewrite-for-apache-2-2
or if you are using the docker application this won't be a problem

[2020-02-21 08:58] janithRS opened #147 "Add healthz route to bulk upload"

[2020-02-21 09:04] janithRS commented on #147
Fixed in https://github.com/moe-lk/bulk-upload/pull/148

[2020-02-21 09:04] #147 closed

[2020-02-21 16:28] Fuseteam commented on #145
ah cool @janithRS, is there a specific place it needs to redirect to?

[2020-02-24 05:39] resha007 opened #150 "school leaving certificate"
when a student is transferred or dropped out from a school, the leaving certificate is generated automatically by the system.

[2020-02-24 12:32] Fuseteam commented on #145
ah found it thanks for the tip @janithRS

[2020-02-24 12:32] #145 closed

[2020-02-24 12:34] Fuseteam opened #151 "default username and password"
i managed to get as the application set up but at this point when i try to log in with the database username and password i get "incorrect username and/or password" is there any where i can check to see what is going wrong?

[2020-02-27 10:30] janithRS commented on #151
UN : root
PW : secret

[2020-02-27 12:30] Fuseteam commented on #151
@janithRS no dice, where is the un and pw set? if it's in datasource.php something else might be going wrong as i've tried the combination i've set there as well

[2020-02-27 13:12] Fuseteam commented on #151
ah just compared the datasource in this repo and in my copy
appearently after following the read me to replace datasource.php with the contents of datasource.default.php and adjusting the credentials "borked" my authentication

now i get this error instead
```SQLSTATE[42000]: Syntax error or access violation: 1227 Access denied; you need (at least one of) the SUPER privilege(s) for this operation

[2020-02-28 05:27] janithRS commented on #151
Are you using the docker application? If not please use that. We have configured all the configurations in that

[2020-02-28 11:48] Fuseteam commented on #151
@janithRS i see an issue on the docker application that has not been addressed, so far. i also hoping to create an all in one image so i would like to get it working locally as well

[2020-02-28 16:24] janithRS commented on #151
@Fuseteam that issue is fixed [moe-lk/bulk-upload/pull/167] in this. Please follow the instructions on the .env.example file.

[2020-03-02 05:48] janithRS opened #152 "Process verified emails"

[2020-03-02 08:39] janithRS commented on #152
[moe-lk/bulk-upload/pull/168]

[2020-03-02 09:09] mohamednizar opened #153 "Password policy implementation"
Enable force password at every three months and increase password strength.

[2020-03-02 11:51] Fuseteam commented on #151
i am fairly positive, that if we can get the 302 error solved thing will just work fwiw

[2020-03-02 17:31] Fuseteam commented on #151
ohw kay i found this in my sis-php/logs/error.log

[code]

[2020-03-03 03:51] mohamednizar commented on #151
@Fuseteam can you share your nginx/apache2 config file ?

[2020-03-03 13:20] Fuseteam commented on #151
this is my nginx.conf
[code]
##
# You should look at the following URL's in order to grasp a solid understanding
# of Nginx configuration files in order to fully unleash the power of Nginx.
# https://www.nginx.com/resources/wiki/start/
# https://www.nginx.com/resources/wiki/start/topics/tutorials/config_pitfalls/
# https://wiki.debian.org/Nginx/DirectoryStructure
#
# In most cases, administrators

[2020-03-10 08:01] resha007 commented on #83
this was tested in dev and it is ok now.

[2020-03-10 08:05] resha007 commented on #76
in dev, the new ID is generated successfully.
eg : b79ffded-ae73-4f7e-801d-b537837774ac

[2020-03-10 08:55] janithRS opened #156 "Older password validation update"
Write a new password validation rule to prevent users from typing an old password as the new password when they updating their password.

[2020-03-10 09:56] resha007 commented on #90
permanent delete is ok in dev

[2020-03-11 04:28] resha007 commented on #90
there is no option to delete withdrawn students from the list.

[2020-03-11 05:47] jeewana20 opened #158 "School Importing issue"
we added a new school type in prod as "No Type" for special schools and tried to import schools into the system. But there was error for the type.

[2020-03-13 04:45] #1 closed

[2020-03-13 04:57] jeewana20 opened #160 "Grafana not tallying issue"
grafana shows that there are 10087 schools have started data entry and not started schools 55. but the total should be 10169. when we checked there are only 2 schools 01575, 05279 are not in the data entry started school list. however when we checked the student count are 1580 and 91.

[2020-03-13 05:01] resha007 commented on #4
in dev, "/" and text is required to complete.

[2020-03-13 05:01] resha007 commented on #4
now that option cannot be accessed.
error : __clone method called on non-object

[2020-03-13 06:15] anjula-sack opened #161 "Add a pull request template to github"
- Create a pull request template
- Use this as an example.
![Screenshot from 2020-03-07 14-49-59](https://user-images.githubusercontent.com/43912578/76140681-f45d6d80-6082-11ea-9b2f-a28c5baf363e.png)

[2020-03-13 06:15] anjula-sack commented on #161
I'm working on this.

[2020-03-17 04:33] mohamednizar opened #162 "Migration failed due to composer install token request"

[2020-03-20 04:39] #161 closed

[2020-03-23 06:41] resha007 commented on #90
in stage,
permanent delete is working fine for principal.
in the soft delete(delete to change grade or class), deleted successfully(count reduced by 1), but after adding again,the student not added to student list (only appeared in pending admission under status "approved"). the count also not increased.

[2020-03-23 06:52] resha007 commented on #153
in dev, working fine.

[2020-03-23 06:52] resha007 commented on #153
in stage, rules are ok. but only prompt in first login. if rejects in 1st login, never asks again. it works fine in dev.

[2020-03-23 08:06] janithRS commented on #153
It's working correctly. Please check again. It's still directing to the
password change UI since we have not changed it yet.

On Mon, Mar 23, 2020 at 12:22 PM Reshan Rajasuriya <notifications@github.com>
wrote:

[2020-03-24 04:23] resha007 commented on #153
no, i checked for several account. please try for this 1573387650(u/p) in stage.

[2020-04-01 03:27] resha007 commented on #153
in stage,password policy is ok.

[2020-04-01 05:05] resha007 commented on #96
this is ok in dev

[2020-04-10 07:57] #162 closed

[2020-04-10 08:26] mohamednizar opened #166 "Transfer flow, not working properly."
The transfer flow having issues with sending it to user workbench and the user can't access even via stunt list by status.

[2020-04-23 05:57] jeewana20 commented on #76
No new student id generated for the students who were added through the system.

[2020-04-23 06:06] mohamednizar commented on #76
@jeewana20  This was only enabled in the bulk upload since students are only being created by the bulkupload, we added new code to the dev, please confirm that its support on dev.

[2020-04-23 06:12] mohamednizar commented on #76
@jeewana20  The issue has been resolved in the UAT too.

[2020-04-24 02:11] jeewana20 commented on #76
it is been resolved. however, when you try to enter a student the system
requires a '/' mandatory

On Thu, Apr 23, 2020 at 11:42 AM Mohamed Nizar <notifications@github.com>
wrote:

--
Thank you
Ms J H P Ariyaratne
Assistant Director of Education
Data Management Branch
Ministry of Education
Isurupaya
Battaramulla

[2020-04-24 04:44] jeewana20 opened #170 "Contact numbers of the parents"
adding the contact number of the parents/guardians to the system with the single update and the bulk upload options.

[2020-04-25 05:58] janithRS opened #172 "Fix table sorting issue on bulk upload history page"
![Screenshot from 2020-04-25 11-28-24](https://user-images.githubusercontent.com/45779947/80272514-e83b7700-86e7-11ea-9a74-1af756068533.png)

[2020-05-11 07:20] mohamednizar commented on #170
@jeewana20 @resha007, this feature has developed and deployed on dev environment

[2020-05-12 01:46] mohamednizar opened #177 "Examination : NSID implementation"
- [ ] 1. Gender, date of birth and last name: 99% will likely be matched
- [ ] 2. Full name and date of birth
- [ ] 3. Replace the values in SIS from examinations for the fields they have collected
- [ ] 4. Add new field called “TakingGrade5Exam” (with default value false) and set that to true only for students we are getting from DoE
- [ ] 5. Add new field called “IncomeAtGrade5”
- [ ] 6. Add new

[2020-05-12 01:49] mohamednizar opened #178 "Examination Implementation"
Gender, date of birth and last name: 99% will likely be matched

[2020-05-12 01:52] mohamednizar opened #179 "Examination API"
Design and develop an API to share the student's information

[2020-05-12 05:07] mohamednizar opened #180 "New admin view for see list of files uploaded by schools for admin user"
We have only access for school-level users, MoE needs a user level in the bulk upload to view the list of files with its status

[2020-05-14 07:51] #106 closed

[2020-05-14 07:51] #146 closed

[2020-05-14 07:51] #152 closed

[2020-05-14 07:51] #170 closed

[2020-05-14 07:51] #172 closed

[2020-05-14 07:51] #94 closed

[2020-05-14 07:51] #95 closed

[2020-05-14 07:51] #96 closed

[2020-05-14 07:54] #59 closed

[2020-05-14 07:54] #62 closed

[2020-05-14 07:54] #64 closed

[2020-05-14 07:54] #66 closed

[2020-05-14 07:54] #70 closed

[2020-05-14 07:54] #80 closed

[2020-05-14 07:54] #83 closed

[2020-05-14 07:54] #90 closed

[2020-05-14 07:55] #51 closed

[2020-05-14 11:10] jeewana20 opened #183 "Adding Syllabus type, medium for to OL and AL Subjects"
adding syllabus type (old/new) and medium(sinhala/english/tamil) for OL and AL subjects.

[2020-05-19 07:44] jeewana20 opened #186 "Verify button for Bulk upload"
verify button for bulk upload to verify a excel file before upload it to the server.

[2020-05-20 16:17] mohamednizar opened #190 "File not for download error files from the system"

[2020-05-27 03:05] resha007 commented on #70
again reported an issue from 01005 school for staff end date

[2020-05-28 06:17] resha007 commented on #110
Ex : 18020
grade 6B

[2020-05-28 08:59] jeewana20 opened #192 "Auto changed the school status"
on 23 rd of May someone has made an institution(06113) Inactive to Active with Admin privileges. We have not done any changes or log into the system during that time.Please see the screenshot with respect to last record.

![06113 - Inactive](https://user-images.githubusercontent.com/55229512/83121177-9bd0c600-a0ef-11ea-9bc8-a3c31c115c90.PNG)

[2020-05-29 05:11] resha007 commented on #70
![image](https://user-images.githubusercontent.com/45994536/83223643-012cc180-a199-11ea-8068-87c6b0bd563b.png)

[2020-06-09 12:01] mohamednizar opened #193 "Write database views for Granada dashbords"
@jeewana20 @anjilo27  list down dashboard panels and  dashboard name, we are starting this with the existing school dashboard

[2020-06-09 12:59] jeewana20 commented on #193
nizar
already sent an excel sheet with the panels
Imal
 please update github. ask Reshan to help

On Tue, Jun 9, 2020 at 5:32 PM Mohamed Nizar <notifications@github.com>
wrote:

--
Thank you
Ms J H P Ariyaratne
Assistant Director of Education
Data Management Branch
Ministry of Education
Isurupaya
Battaramulla

[2020-06-09 13:26] anjilo27 commented on #193
Hi Nizar,
Here I attached the excel sheet including grafana panel details.
[Grafana Dashboard Details_v0.1.xlsx](https://github.com/moe-lk/sis-php/files/4752417/Grafana.Dashboard.Details_v0.1.xlsx)

[2020-06-23 04:51] jeewana20 opened #194 "Email status Failed"
email status is failed in history and not received emails.
Ex: un: 1557379742
pw : zsxqtd

![image](https://user-images.githubusercontent.com/55229512/85361960-ebfa4700-b53a-11ea-8db6-bb5d8ab2f2e1.png)
![image](https://user-images.githubusercontent.com/55229512/85362079-32e83c80-b53b-11ea-8151-2335c6e8f733.png)

[2020-06-24 09:17] mohamednizar commented on #194
This is fixed and released on : https://github.com/moe-lk/bulk-upload/releases/tag/v1.2.5.2

[2020-06-24 09:17] #194 closed

[2020-06-25 05:15] resha007 opened #195 "Missing Column - phone"
an error occurred in v1.5 that saying ",Missing Column :fathers_phone Not found,Missing Column :mothers_phone Not found,Missing Column :guardians_phone Not found".

[1592997150_01382_Grade-7_1553677557_student_bulk_data (2).xlsx](https://github.com/moe-lk/sis-php/files/4829195/1592997150_01382_Grade-7_1553677557_student_bulk_data.2.xlsx)

[2020-06-25 05:57] resha007 opened #196 "Staff role missing"
hi nizar,
we got a new kind of error in the staff of some schools. all the roles(teacher, class teacher) were removed automatically from all the staff members.
ex:  02251

![image](https://user-images.githubusercontent.com/45994536/85663532-d3bf2f00-b6d6-11ea-8e3f-ad01a39425fe.png)

[2020-06-25 10:59] mohamednizar opened #197 "Validation missing on cross BMI values"
A file terminated strangely when  its trace backed found due to Height / Weight missing at one entry.
![Screenshot from 2020-06-25 16-28-24](https://user-images.githubusercontent.com/8711284/85707638-01b96900-b701-11ea-87ed-1eb083cd781a.png)

[2020-06-25 11:01] #197 closed

[2020-06-30 09:36] resha007 opened #198 "Updating v2.0 of 2007 bulk upload template"
we added some new subjects(13 years - 2nd year) to the template.

[2020-06-30 09:42] resha007 opened #199 "age limit error"
there is an error with the age limit. one user uploaded a file with 2000/mm/dd bdays to 13arts(2) and they tried to upload students with 2000/mm/dd bdays and then failed.

and this occurred to special edu classes also.

[2020-07-01 06:36] mohamednizar commented on #198
@resha007 this has been deployed to the dev

[2020-07-01 06:40] mohamednizar commented on #190
This has been fixed

[2020-07-01 06:40] #190 closed

[2020-07-01 06:47] resha007 commented on #198
updated in dev

[2020-07-01 06:50] resha007 opened #200 "Download Link in the email is not working"
in bulkupload, the download link sent through the email is not working. the error is 404.

[2020-07-01 07:02] mohamednizar commented on #200
@resha007 is this in production?

[2020-07-01 07:05] mohamednizar commented on #199
@resha007  what is the age limit for 13arts(2) ? can you replicate the scenario in the Dev environment, please?

[2020-07-01 13:29] mohamednizar commented on #92
@resha007 open is this still exist!

[2020-07-01 13:29] #92 closed

[2020-07-01 13:30] #54 closed

[2020-07-01 13:32] mohamednizar commented on #15
@resha007 , this is referred to as not tallying students count issue, Hope this is no longer exists.

[2020-07-02 03:43] resha007 commented on #200
yes in prod. we got many complaints on this.

[2020-07-02 03:51] resha007 commented on #199
there is an error with grades of dev. can we try this on uat?

[2020-07-02 03:52] resha007 commented on #196
what kind of details do you want on this issue?

[2020-07-02 03:59] resha007 commented on #110
checked this school in UAT, and the total is correct there.

[2020-07-02 04:06] resha007 commented on #91
this emails and reprocess button is working now.

[2020-07-02 04:06] #91 closed

[2020-07-02 04:09] anjilo27 commented on #100
@mohamednizar We have the students all details query and how can we get the empty fields and show those details from all student details query.

[2020-07-02 04:10] resha007 commented on #63
@mohamednizar they have to upload those students to prod?

[2020-07-02 04:50] resha007 commented on #97
when transferring, need to update the admission number from the new school.

[2020-07-03 07:02] resha007 commented on #110
I checked and it is fixed in uat

[2020-07-03 09:17] mohamednizar commented on #200
Hi @resha007, we found the issue, and it's fixed. Its a prod config issue.

[2020-07-03 09:17] #200 closed

[2020-07-06 04:06] #195 closed

[2020-07-06 04:06] #198 closed

[2020-07-06 04:09] resha007 commented on #153
niel sir asked that can we have an strength line for password when entering new password?

[2020-07-06 04:29] #50 closed

[2020-07-06 04:29] #76 closed

[2020-07-06 04:29] #107 closed

[2020-07-06 04:42] resha007 opened #201 "Strength line for password"
when changing passwords in the system, to show the strength of the password, a strength line should be shown.

[2020-07-06 05:03] resha007 opened #202 "NSID repeating issue on download excel"
when creating NSIDs, there were repeating issue. we created 1000 NSIDs and we found 62 repeated IDs.

[Students_data_with_nsid (38) repeated.xlsx](https://github.com/moe-lk/sis-php/files/4876846/Students_data_with_nsid.38.repeated.xlsx)

[2020-07-06 05:15] resha007 opened #203 "Subjects not assigned for Promotion"
in some schools, subjects are not assigned for grade 12,13. therefore an issue occurred when promoting students in those grades.

[2020-07-06 07:44] mohamednizar commented on #74
@resha007 can you check the status of this school again?

[2020-07-06 08:00] #93 closed

[2020-07-06 08:00] #100 closed

[2020-07-08 05:50] #4 closed

[2020-07-08 05:51] mohamednizar opened #204 "Make `/` optional in admission_no"

[2020-07-08 07:38] mohamednizar opened #206 "Make `/` optional in admission_no in bulkupload"

[2020-07-08 08:46] resha007 opened #207 "Not updating admission number"
in bulk upload, in update sheet, not updating the admission number at the system. no error shows in remarks.

[2020-07-08 08:51] resha007 commented on #90
rechecked. in stage, permanent delete is working fine for principal.

[2020-07-08 09:37] mohamednizar commented on #90
Fine, Let's introduce the feature to school

[2020-07-10 03:19] resha007 commented on #204
in UAT?

[2020-07-10 03:20] resha007 commented on #207
in UAT or Dev?

[2020-07-10 04:15] resha007 commented on #204
in dev its worked.
but in uat, select student -> academic. this error occured.
![image](https://user-images.githubusercontent.com/45994536/87115864-14e83f00-c292-11ea-942d-21c9e765236f.png)

[2020-07-13 09:46] resha007 opened #208 "DS division not added"
when importing schools to the system with DS division, some errors are occurred.

![image](https://user-images.githubusercontent.com/45994536/87290615-d82f7880-c51b-11ea-82fa-40fcd8d9484d.png)

[NEMIS_SIS_Import_Institutions_Failed_1590644135 (2).xlsx](https://github.com/moe-lk/sis-php/files/4911639/NEMIS_SIS_Import_Institutions_Failed_1590644135.2.xlsx)

[2020-07-14 06:50] #108 closed

[2020-07-15 06:21] resha007 commented on #196
all the staff has this issue. this details collected from some staff accounts.

when created the staff account - June 20, 2019
when they made an update - June 10, 2020
last login - July 19, 2019

[2020-07-16 07:09] resha007 opened #209 "Cannot download NSIDs"
after processing, the excel file including NSIDs cannot be downloaded.

![2020-07-15](https://user-images.githubusercontent.com/45994536/87638460-6f394200-c761-11ea-998e-5311e2d34ecc.png)

[2020-07-16 10:59] mohamednizar opened #210 "email of admin can't be update"

[2020-07-17 06:53] resha007 opened #212 "Grafana student count mismatch"
It showing a large variation among the student count in grafana and the student count in SIS->students.
Ex : count in grafana = 19000
count in SIS = 700

[2020-07-22 05:09] mohamednizar commented on #207
@resha007 did you try to test this again this UAT?

[2020-07-22 05:11] mohamednizar commented on #74
@jeewana20 can you send me more details on this issue to my email?

[2020-07-22 05:40] mohamednizar commented on #199
@resha007 can you replicate this issue in the dev or UAT?

[2020-07-22 10:17] resha007 opened #213 "School history of a student"
need an history record of students, when they transfer students from school to another school.  (time period, school name)

[2020-07-27 05:18] resha007 opened #214 "Approve Pending / open students backend"
approve all the pending approval and open student records from the back-end at once.
Any duplicate records can be deleted once the delete option is given.

[2020-07-29 05:31] resha007 commented on #202
when clicking request button.
![image](https://user-images.githubusercontent.com/45994536/88760511-cb9d5800-d18a-11ea-912c-d46e2f312b58.png)

[2020-07-29 06:02] resha007 commented on #207
in UAT, status is success, but the admission number is not updated in the system.

[2020-08-04 05:18] resha007 opened #215 "Parent DS as Other Countries"
when entering details of parents who are living in other countries should be able to insert to the system.

[2020-08-12 07:04] mohamednizar commented on #74
@resha007  can you confirm this and close ?

[2020-08-13 05:43] #74 closed

[2020-08-13 05:44] mohamednizar commented on #206
@ did we confirm this fix in UAT ?

[2020-08-13 05:44] mohamednizar commented on #207
@resha007  shall check this again in UAT?

[2020-08-13 05:48] #177 closed

[2020-08-13 05:49] #202 closed

[2020-08-13 08:16] resha007 commented on #207
its working fine on UAT

[2020-08-14 04:53] #199 closed

[2020-08-17 04:26] #79 closed

[2020-08-17 04:26] #132 closed

[2020-08-17 04:26] #160 closed

[2020-08-17 04:27] #110 closed

[2020-08-17 04:27] #206 closed

[2020-08-17 04:27] #207 closed

[2020-08-18 05:30] #178 closed

[2020-08-20 04:11] resha007 opened #216 "Auto assigned Maths for AL"
In bulk upload the haven't add Mathematics as a subject, but in the SIS, Mathematics has been assigned for them.

ex: 00045 Grade 12 A2
[1594117578_00045_12-A2_1551249549_student_bulk_data (2).xlsx](https://github.com/moe-lk/sis-php/files/5100631/1594117578_00045_12-A2_1551249549_student_bulk_data.2.xlsx)

[2020-08-20 08:48] #158 closed

[2020-08-20 08:51] mohamednizar commented on #204
@resha007  can you check this in UAT again?

[2020-08-20 11:04] mohamednizar commented on #203
@resha007  this issue related to the data cloning, I guess.

[2020-08-20 17:03] mohamednizar commented on #216
@resha007  are we sure that subject is not enabled as  auto assing true and set to those programms ?

[2020-08-25 07:12] mohamednizar opened #221 "Unable to find delete option in Students list"

[2020-08-25 10:32] resha007 commented on #204
same result

[2020-08-25 17:28] mohamednizar opened #222 "UAT Docker image failed"

[2020-08-26 06:17] resha007 commented on #204
this is worked fine now in uat

[2020-08-26 14:17] mohamednizar commented on #221
@resha007 this issue is fixed, also check where the System allowing restrict DoE data

[2020-08-26 15:06] #209 closed

[2020-08-26 15:07] mohamednizar opened #228 "support NSID on manual student create"

[2020-09-10 07:07] resha007 opened #232 "Students are added to wrong academic year"
some students are added to the wrong academic period(YR2018,YR2017,etc.) by the teachers.

ex : census number 07206. 155 students are added to YR2018.

[2020-09-15 08:37] resha007 opened #234 "Transferring students from closed students"
Need to transfer students from 6 closed schools to other active schools.

[2020-09-17 04:11] resha007 opened #240 "Special and Private schools cant import"
in prod, special and private schools cant be uploaded from 16/09/2020.

[2020-09-22 05:21] resha007 opened #241 "SIS Directory cant be accessed"
followings are the issues we encountered.

 (1) A user (Chilaw Zonal Coordinator) requested to fix Grafana log in problem.

(2) Added the e-mail  address of Chilaw zonal coordinator to SIS.

(3) User was not found in SIS, after adding the e-mail address.

User is not in Prod – Master database. But is in Prod- Slave database. (Chilaw)

Puttalam Zonal Coordinator is not found in the system.

Puttala

[2020-09-24 05:35] mohamednizar commented on #55
@resha007 can you update the status ?

[2020-09-24 06:09] jeewana20 commented on #55
its fixed in prod

[2020-09-24 06:11] jeewana20 commented on #55
its fixed in UAT

[2020-09-24 06:12] resha007 opened #243 "School viewing issue"
1. some schools(special schools) are added to prod which we did not import. (we imported them only to uat)
2. Sometimes, those above mentioned schools are visible and sometimes not in prod.
2. the history of some schools are not visible in prod, but those are visible in uat.

[2020-09-24 08:49] #55 closed

[2020-09-24 09:36] #241 closed

[2020-09-24 09:42] resha007 opened #247 "Grade 7 students shown in Grade 6 in Filter"
![image](https://user-images.githubusercontent.com/45994536/94128891-4e375080-fe78-11ea-8286-f0729c4abf62.png)

census no : 03128

[2020-09-29 04:18] resha007 opened #254 "Gender is not changed"
1. Nagoda Royal College
User Name   762962381v
Password      NAGODAroyal2020#

2. username : 1561351941
password : ADUME41
census number 19513

[2020-09-30 09:17] resha007 opened #258 "cannot delete students in wrong grade - NISD"
some users have to delete students who have been added via DoE dataset because they are in wrong grade or wrong academic year.

Ex : TDQ-R6W-47Q - 16195 - in grade 2 - should be in grade 4

[2020-09-30 09:41] resha007 opened #259 "Unable to assign students to class"
3 students in grade 4, but not assigned to the class. when go to academic -> classes -> grade 4A -> edit, then those 3 students in the 1st table to assign them.
census : 08210
contact : 0766854167

[2020-09-30 10:07] resha007 opened #260 "Tooltip for Preferred Name"
provide a tooltip for preferred name that saying it is to be used in DoE purposes.

[2020-09-30 10:27] resha007 opened #261 "Auto unassigned students from grade 4"
in some schools, grade 4 students are unassigned from the classes.

census : 00045 - 4J

[2020-10-02 06:16] resha007 opened #262 "DoE students inserted to grade 2"
in inserting DoE data to the system, some students inserted to grade 2. the correct student record is on grade 4 also.

census : 16195
TDQ-R6W-47Q - student in grade 2 - should be in grade 4B
actual student is in 4b under 1566799183.
created on 02,sept and updated on 21st sept.
0753252569

[2020-10-02 09:12] jeewana20 commented on #75
Students have been assigned with non-related subjects. eg :- Rathmalgoda Maha Vidyalaya Grade 6. They have not included those subjects (Civic Education and Governance/Civic Education and Governance(EM)) in Bulk-upload file.

[2020-10-06 06:43] jeewana20 opened #263 "GIT- Adding fields"
Need to add the following fields to student profile
1. medium
2. NIC
3. preferred name-90 characters

[2020-10-06 06:49] jeewana20 opened #264 "GIT- Adding Fields to School"
the following school summary needs to be created for each school
no of male/female/Total
no of sinhala/Tamil/English/Total

Town of the Examination centre- need to add
Town number: need to add
Region: need to add
Education Division: need to add
Education Zone
School Id: need to add
School Name and Address:

[2020-10-06 08:23] jeewana20 opened #265 "GIT- printout of admission list"
after submitting the student list a printout is taken with a QR code

[2020-10-06 08:49] jeewana20 opened #266 "GIT-changes in name, school and medium after submission"
changes in name, school and medium after submission. need to figure out how to incorporate these changes

[2020-10-07 05:48] gprasangika commented on #254
Bug is fixed with PR #512 and #513 to master of bulk-upload repo. Ready to deploy.

[2020-10-07 06:10] #254 closed

[2020-10-07 06:12] resha007 opened #268 "Text added to identity number column"
mistakenly uploaded a bulk template with "no special need" in identity number column and it updated in the system.

[2020-10-07 06:15] gprasangika commented on #268
Bug is fixed with PR #511 and #514 to master of bulk-upload repo. Ready to deploy.

[2020-10-07 08:46] resha007 opened #271 "Not updating admission number in student edit"
when select a student and click edit - > and input a number to admission number, its not updated.
but select a student and click academic -> edit -> and input a number there, its updated.

[2020-10-08 03:39] resha007 commented on #243
after this happens, we deleted those special schools from prod. but yesterday we noted that those schools appears again in prod.
ex : 99064,99004

[2020-10-08 03:44] resha007 commented on #196
@mohamednizar do you need any more details on this?

[2020-10-08 03:51] resha007 opened #272 "unable to click on Delete button on small screens"
users have to scroll horizontally to click on the delete button in small sized screens. when they scrolled and clicked on it, automatically scrolls back to the initial state.

[2020-10-08 03:53] jeewana20 commented on #272
we can remove exam related columns from the student list.

Taking G5 Exam | Income At G5 | Taking Ol Exam | Taking Al Exam

[2020-10-08 03:55] mohamednizar commented on #196
@resha007  For the given user, when the user account is created, and what do we see in the history?

[2020-10-08 03:56] resha007 commented on #214
we agreed to give the access to the school coordinators to do it from their self.

@mohamednizar can we get the list of schools which not completed this yet?

[2020-10-08 04:02] janithRS commented on #272
Noted. Working on it

[2020-10-08 04:49] mohamednizar commented on #214
Dear @resha007, You can see the status in this panel: https://dashboard.sis.moe.gov.lk/d/jieQaVMZz/dev?viewPanel=97&orgId=1

[2020-10-08 07:00] resha007 commented on #259
another case
census : 03193
2 students in grade 4 cannot assign
0718222858

[2020-10-08 07:19] resha007 commented on #196
all the staff has this issue. this details collected from some staff accounts.

when created the staff account - June 20, 2019
when they made an update - June 10, 2020
last login - July 19, 2019

[2020-10-08 13:54] #271 closed

[2020-10-09 05:15] #262 closed

[2020-10-09 05:17] mohamednizar commented on #258
this is resolve from #262

[2020-10-09 05:17] #258 closed

[2020-10-09 05:20] mohamednizar commented on #247
@The class named as Grade 7 belongs to Grade six, the school needs to reconfigure students data and class info.

[2020-10-09 06:28] resha007 commented on #268
after this, the Identity number becomes required. getting error for not adding identity type and identity number.

[1602224355_06366_Grade-10-A_1551261343_student_bulk_data (1).xlsx](https://github.com/moe-lk/sis-php/files/5352917/1602224355_06366_Grade-10-A_1551261343_student_bulk_data.1.xlsx)
[1602224355_06366_Grade-10-A_1551261343_student_bulk_data (2).xlsx](https://github.com/moe-lk/sis-php/fi

[2020-10-09 09:34] mohamednizar commented on #268
@gprasangika
change the validation rules from
` '*.identity_type' => 'required_with:identity_number',
 '*.identity_number' => 'required_with:identity_type|regex:/^[0-9]+$/|min:4|max:12',`
to
` '*.identity_type' => 'required_with:*.identity_number',
 '*.identity_number' => 'required_with:*.identity_type|regex:/^[0-9]+$/|min:4|max:12',`

[2020-10-09 17:11] gprasangika commented on #268
The issue will be fixed with PR #524 and #527 to UAT. Following changes need to be done with insert and update sheets in order to avoid conflicts.

- [ ] Remove **NIC type** from Student's **Identity Type column** in **Insert sheet**

- [ ] Remove Student's **Identity type column** from **Update sheet**

Identity type validation in StudentUpdate.php can be removed after the above mentioned change

[2020-10-12 02:45] resha007 commented on #272
this was fixed in uat.

[2020-10-12 03:37] resha007 commented on #214
approving students by school coordinator is finished now. we can delete the rest (open and pending admission)

[2020-10-12 09:50] resha007 opened #275 "Type for Language"
in a student profile -> language, language type (mother tongue,2nd language, other languages) column should be added.

[2020-10-13 03:51] #247 closed

[2020-10-13 03:53] resha007 commented on #240
this was fixed

[2020-10-13 03:53] #240 closed

[2020-10-13 03:55] #212 closed

[2020-10-13 04:12] resha007 commented on #221
DoE deleting is restricted and its on prod

[2020-10-13 04:16] resha007 commented on #204
is this on Prod? admission number not updated vis system.

[2020-10-13 05:06] #272 closed

[2020-10-13 05:47] resha007 opened #277 "Admin details should be changed"
in sis, the name and other details of administrator are including wrong information.
![image](https://user-images.githubusercontent.com/45994536/95820407-abbb1080-0d45-11eb-860a-79a9e7393190.png)

[2020-10-13 08:48] mohamednizar commented on #192
@resha007  Hope we don't have any kind of development in this issue. Can you confirm with School history?

[2020-10-13 09:02] resha007 commented on #192
i added a screenshot of history in previous comment.

[2020-10-13 09:18] mohamednizar commented on #192
@resha007 did you change this back to active? Seems the admin user has did the changes, are we confident that none of us didn't make any changes via the import sheet or manual status update on this institution?

[2020-10-14 04:25] resha007 commented on #232
need to instruct the users to delete and add them to correct academic year.

[2020-10-14 04:25] #232 closed

[2020-10-14 04:27] resha007 commented on #192
![image](https://user-images.githubusercontent.com/45994536/95943535-bb009380-0e03-11eb-9df7-0118d94116fc.png)

[2020-10-14 07:01] resha007 opened #278 "Gender changed - Male to Female"
in this school(04266), some male students updated as female.
update was done on 9th of Oct.
but on that day, no bulk uploads were performed.
updated users are various on each and every student.

username : 633040931V
password : 633040931V@a

[2020-10-14 07:18] resha007 opened #279 "NSID name swapping - Restrict DoE update"
in 17529 school,

**4KF-MGD-QJW** - JAYASINGHE ARACHCHILAGE MALEESHA SATHSARA J.A.M.SATHSARA - this student actually should be in grade 5 in 2019. but he is in grade 4 on the system. (system saying that this record cant be deleted due to doe related. he didnt face the G5 exam in 2020)
created : November 28, 2019 - 10:14:37
modified : October 09, 2020 - 12:06:38

in our exam sheet,
**4KF-MGD-QJW**

[2020-10-14 08:19] resha007 commented on #207
we got this issue again.

1551853059
Af@lareef1
Census- 16279
Grade 1

[2020-10-14 09:08] mohamednizar commented on #279
@resha007 can find the information related to this student in the DoE data file ?

[2020-10-14 09:31] resha007 commented on #279
![image](https://user-images.githubusercontent.com/45994536/95970849-0def4080-0e2e-11eb-8e2c-fe7228e9503e.png)

[2020-10-14 09:41] mohamednizar commented on #279
@resha007  from the finding, the student's name has been altered by the School since we only prevent delete of DoE data, we may need to restrict update too.

[2020-10-16 03:29] resha007 opened #280 "Address Area(DS) for Student"
currently address area available for parents and guardians only. now address area field should available for the students.

[2020-10-16 03:34] resha007 opened #281 "Student guardian details are repeating"
in one student, the same guardian details are duplicated.

ex :
School Census No          Student ID                     Username & Password
00045                                1564983727                   U/N - 862000978V

16195                                1567175339                   U/N - 1551853944

[2020-10-16 03:57] resha007 commented on #281
@mohamednizar can we set the maximum guardians for 2?

[2020-10-16 05:52] resha007 opened #282 "Institution/class swapping issue - DoE entered data"
in 22154(Kukurampola junior college) school, there is a student - 99W-T38-RQY in grade 4. (entered through DoE data).
![image](https://user-images.githubusercontent.com/45994536/96215887-c20ed980-0f9c-11eb-9c76-fbdec8a0841d.png)

in academic -> classes -> institution is 21271(PIYARAPANDOWA VIDYALAYA).
![image](https://user-images.githubusercontent.com/45994536/96215908-cf2bc880-0f9c-11eb-92d4-50de

[2020-10-19 05:02] resha007 commented on #279
instructed them to update correct name.

[2020-10-19 05:08] resha007 commented on #277
in UAT, email and address should be updated. others are ok

[2020-10-21 05:16] mohamednizar commented on #281
@resha007 can we check this cases in UAT ?

[2020-10-21 18:21] gprasangika commented on #268
Issue will be fixed with PRs #567, #569 and #570 to UAT. Test passed in Local. Will be deployed after testing in UAT.

[2020-10-21 18:32] gprasangika commented on #268
Issue will be fixed with PRs #567, #569 and #570 to UAT branch in bulk-upload repository. Test passed in Local. Will be deployed after testing in UAT.

[2020-10-22 05:53] mohamednizar commented on #208
@resha007  Did you test this in UAT ?

[2020-10-26 05:13] resha007 commented on #277
in UAT, ok. can be deployed.

[2020-10-26 06:04] resha007 commented on #261
@janithRS removing those columns in class assigning regarding to this issue.

[2020-10-26 06:19] resha007 commented on #208
this was fixed

[2020-10-26 06:19] #208 closed

[2020-10-26 07:44] resha007 commented on #281
duplicates are deleted in UAT

[2020-10-27 05:02] resha007 commented on #261
still not updated UAT
![image](https://user-images.githubusercontent.com/45994536/97258952-abd80780-183f-11eb-8236-27daf1054362.png)

[2020-10-27 05:10] resha007 commented on #259
above cases are fixed in UAT

[2020-10-27 05:53] mohamednizar commented on #282
@resha007  can you check this issue too ?

[2020-10-27 06:31] resha007 commented on #282
institution of class has been fixed. but in the 2nd school (21271), there are 756 grade 4 students in grade 1 class.

[2020-10-27 09:38] mohamednizar commented on #282
@resha007 can you check number of students in UAT of  school   21271 ?

[2020-10-28 04:38] resha007 commented on #282
this was fixed.

[2020-10-28 04:43] jeewana20 commented on #192
done by a user.

[2020-10-28 04:43] #192 closed

[2020-10-28 04:47] resha007 commented on #279
decided to not giving edit option(DoE entered data) for normal users, and those changes done through the admin login.

[2020-10-28 04:47] #279 closed

[2020-10-28 16:50] mohamednizar opened #291 "A/L Academic Year change from current to specific"
Currently A/L academic year conduct  between Sep-Aug  , but in SIS it configured with usual one. We need to configure specific one and update existing A/L classes on this.

[2020-11-17 05:05] mohamednizar commented on #291
WP[#34](https://openproject.sisdemo.opensource.lk/projects/sis-core/work_packages/34/activity) test

[2020-11-17 05:08] mohamednizar commented on #291
WP [#34](https://openproject.sisdemo.opensource.lk/projects/sis-core/work_packages/34/activity)

[2020-11-17 05:22] mohamednizar opened #293 "Integrate OpenProject"
WP[34](https://openproject.sisdemo.opensource.lk/projects/sis-core/work_packages/34/activity)

[2020-11-17 09:22] resha007 opened #294 "Not Promoted - grade 4 to 5"
census : 20203
there are 3 students that not promoted.

1. HERATH MUDIYANSELAGE AMIRU KITHSUKA HERATH - 33B-KQB-29H
2. PIYARALALAGE GEDARA NARADA NANDIKA PUSHPAKUMARA- VHV-JYH-68H
3. KALUARACHCHILAGE SANDUN LAKSHAN PATHMASIRI - W9C-PPV-J9C

in YR 2019, they were grade 4. now they should be in grade 5. but those students are not appeared in the school(YR2019 or YR2020).
when searching, they appeare

[2020-11-17 11:43] #293 closed

[2020-11-17 11:44] mohamednizar opened #295 "Open Project Integration"
Create  issues in the PM tool
WP[35](https://openproject.sisdemo.opensource.lk/projects/sis-core/work_packages/35/activity)

[2020-11-18 03:29] resha007 opened #296 "Not assigned classes in auto parallel promotion"
even the number of classes is equal in grade 1,2,3 , the students are promoted only to the next grade without assigning classes.

census 14190
grade 1,2,3

[2020-11-18 04:17] mohamednizar commented on #296
@resha007 when you closely see the name of the class are differ , in this case they will be promote to pool rather than parallel .

[2020-11-18 04:20] mohamednizar commented on #294
@resha007 in UAT they are promoted to grade 5, can you recheck them again ?

[2020-11-18 10:10] resha007 commented on #296
informed the school to assign.

[2020-11-18 10:10] #296 closed

[2020-11-20 04:43] resha007 commented on #294
they confirmed that they did not do anything(delete/withdraw) for above 3 students.

[2020-11-23 05:11] jeewana20 commented on #15
this was happening again after giving permission to approve students from theirselves. #214

[2020-11-23 05:26] resha007 opened #299 "Pending Admission students are not promoted"
there is a mismatch between count in Institution->Students and the count in pending admission->done(approved). #15

in 02242 school, the students who are not appearing in Institution->Students (those who are appearing in pending admission->done(approved)) are not promoted to YR2020.

[2020-11-23 05:46] mohamednizar commented on #299
in wich Grade ?

[2020-11-23 07:00] resha007 commented on #299
every grade.

[nemis screen shot.zip](https://github.com/moe-lk/sis-php/files/5581393/nemis.screen.shot.zip)

[2020-11-23 09:21] resha007 opened #300 "Not promoted G4 to G5"
in 02028, there are 38 students in grade 3 Hiru class in YR2019.
in YR2020, there are only 21 students in grade 4 Hiru.
those missing students are not available in grade 3 or 4 in YR2019 or YR2020.

ex : missing student : 3FG-GYJ-DY7

[2020-11-25 20:31] Fuseteam commented on #151
this no longer seems relevant so i'll just close it

[2020-11-25 20:31] #151 closed

[2020-12-02 05:41] mohamednizar opened #301 "1.1 Session ID exposed in URL"
Prevent sending session identifier in URL

[2020-12-02 05:42] mohamednizar opened #302 "1.2 Some requests are made over HTTP"
1. Make sure all the requests are made over HTTPS in code level.
2. Send HTTP String Transport Security header. Check "Security Related HTTP Headers"  section for more details.
3. Set "secure" flag on all the cookies.

[2020-12-02 05:43] mohamednizar opened #303 "1.3 Cookies are set without secure flag enabled"
1. Check the purpose of "/session" route.
2. If this route is not required for operations, alter the application to remove the routes associated with that or block access to this endpoint from "proxy".
3. If this route is required for operations, check the possibility of limiting access to browsers.

[2020-12-02 05:44] mohamednizar opened #304 "1.4 Authenticated session can be manipulated externally"
1. Check the purpose of "/session" route.
2. If this route is not required for operations, alter the application to remove the routes associated with that or block access to this endpoint from "proxy".
3. If this route is required for operations, check the possibility of limiting access to browsers.

[2020-12-02 05:47] mohamednizar commented on #302
This was fixed , can be test again

[2020-12-02 13:15] mohamednizar commented on #302
This issue is fixed some time back soon after the PenTest Given. We can included. SIS now force all requests as https.

[2020-12-16 06:17] resha007 opened #308 "Add Staff not working for 2020"
when trying to "add staff"->complete with selecting YR2020, nothing happens. when selecting YR2019, it works. in UAT both works.

[2020-12-30 05:30] resha007 opened #312 "No students in unassigned list"
44 student under grade 7 in Students. but academic->classes->7A, there are no students in unassigned list.

census : 00044

[2021-01-05 05:25] resha007 opened #313 "cant promote 11 pool to 12"
when trying to promote 11 pool to 12, there is no next grade. (only in 11 2nd time showing) in demo.

[2021-01-05 10:04] resha007 opened #316 "cant demote from 6 to 5"
unable to demote students from level to another level.
ex : lower secondary to primary.

[2021-01-08 07:26] resha007 opened #319 "students not added after deleting"
when trying to add students after deleting from a wrong grade, the success message was shown. but the student was not added to new grade.

1. deleted student from wrong grade. (1569555989 -nadeesha)
2. go to student->filter->add student
3. select 2019/2020 and grade 12 maths and 12 SB class.
4. completed and success message displayed.
but the student was not added to the 12SB or grade 12 maths.

[2021-01-12 05:08] resha007 commented on #319
when student added with the admission number, the student is displayed on the school.

when student added without the admission number, the student is not displayed on the school and not display any error message.(success message displayed).

[2021-01-13 07:03] mohamednizar commented on #313
Fix from #318

[2021-01-13 07:03] #313 closed

[2021-01-13 08:11] mohamednizar commented on #316
@resha007 Added a fix to the UAT, You can verify it.

[2021-01-13 08:19] #268 closed

[2021-01-13 08:19] #277 closed

[2021-01-13 08:19] #259 closed

[2021-01-13 08:20] #153 closed

[2021-01-13 08:20] #156 closed

[2021-01-13 08:20] #203 closed

[2021-01-13 08:21] #40 closed

[2021-01-13 08:21] #17 closed

[2021-01-13 08:33] resha007 commented on #316
still having the issue.
![image](https://user-images.githubusercontent.com/45994536/104426596-25aea000-55a8-11eb-8b55-3533dfabcd4b.png)

[2021-01-13 09:15] resha007 commented on #316
now its fixed. but the 1st grade of the level is not shown.(small issue)
can deploy to prod.

ex : grade 1 not displayed in the list.
![image](https://user-images.githubusercontent.com/45994536/104431511-0450b280-55ae-11eb-8036-cc6b4cd23b41.png)

[2021-01-13 09:23] mohamednizar commented on #316
@resha007 Deployed to the prod

[2021-01-13 09:54] resha007 commented on #316
fixed on prod
![image](https://user-images.githubusercontent.com/45994536/104436264-665fe680-55b3-11eb-98b3-e5f904f5215e.png)

[2021-01-13 09:54] #316 closed

[2021-01-15 05:17] mohamednizar opened #324 "Change Gender into Sex and add More Options"

[2021-01-15 06:49] resha007 opened #325 "guardians not added completely"
the following file includes 7 students with father and mother details.

[1608567071_07180_Grade-1-A_1555667543_student_bulk_data.xlsx](https://github.com/moe-lk/sis-php/files/5818889/1608567071_07180_Grade-1-A_1555667543_student_bulk_data.xlsx)

and it was success in bulk upload.

![image](https://user-images.githubusercontent.com/45994536/104691001-77336800-572b-11eb-8bad-e932ac34165c.png)

then

[2021-01-15 07:39] mohamednizar commented on #325
Dose all students data imported, Only the guardian data missing ?

[2021-01-15 09:10] resha007 commented on #325
all the students imported. some has both, some has only father, some has nothing on guardians.

[2021-01-15 09:16] mohamednizar commented on #325
dose the file having those data ?

[2021-01-15 09:32] resha007 commented on #325
yes. complete data included

[2021-01-15 09:56] resha007 opened #326 "Wrong mother displayed"
in 00323,
Y6B-XBX-FKP | KADAWATH PEDIGE SANJANA KAVINDI KPS KAVINDI

the above student had been uploaded with correct father(A) and incorrect mother(B) by mistakenly. then they deleted the whole record and uploaded again with correct father(A) and correct mother(C). but in the SIS shows again the incorrect mother(B) in guardians.
![image](https://user-images.githubusercontent.com/45994536/10471015

[2021-01-20 06:04] resha007 commented on #282
when entering DoE data to sis(to generate NSID for G5 exam - 2020) as grade 4(2019) students, number of students were placed on wrong schools due to census number(moe) vs school id(doe) mismatching issue.

[2021-01-20 10:19] resha007 opened #327 "Terminated - student update -admission number"
when try to update students with admission number, the file terminated.

[2021-01-20 13:58] mohamednizar commented on #294
@resha007  since this students are not assniged to the school they might delete after promotion by school

* Did the school complained on this ? if so they can search by NSID and admit them to the correct grade.

[2021-01-20 13:59] mohamednizar commented on #300
@resha007 replication of issue #294

[2021-01-22 05:05] resha007 commented on #294
in 01589, there are 800+ students still in yr2019.
there can be many schools like this. can we re run promotion for grade 1 to 11 students still in yr2019?

![image](https://user-images.githubusercontent.com/45994536/105448989-68a1ff00-5c9d-11eb-91be-2f7adad17cbc.png)

[2021-02-01 09:08] resha007 opened #329 "YR2019/2020 Bulk uploads inserted to YR2020"
when inserting students through bulk upload to enter YR2019/2020, the students were added under YR2020.

[2021-02-01 10:19] mohamednizar commented on #329
@resha007 We assign the student to the  academic periods  of the class.  can you give more details of this  issue in UAT, so we can confirm the academic period of the class.

[2021-02-01 10:33] resha007 opened #331 "Transferring grade 5 to grade 6"
there is no option to promote from one academic year to another academic year.

ex : transferring from grade 5(YR2019) to grade 6(YR2020).

option 1 : promote them to a pool in YR2020 and transfer
option 2 : enable to transfer among the academic years.

[2021-02-02 04:47] resha007 opened #332 "Bulk upload inserted 3 times"
in 17234, grade 6C, number of students per register is 44. but 99 students were added.
![image (2)](https://user-images.githubusercontent.com/45994536/106553466-7417e480-653f-11eb-9345-171c068da4e2.png)

there are 36 students in the bulk upload sheet and those were added three times. created time of those are same.
followings are the screenshots of created date time of one set(3).
![image (5)](htt

[2021-02-02 05:04] resha007 commented on #329
they created AL classes under YR2020 and select it when uploading. cant we restrict creating AL classes on non AL academic years? we got many complaints on this.

[2021-03-03 04:47] resha007 opened #335 "Adding new fields for Pirivenas"
**to institution profile**

1. Nikaya

**to Student Profile**

1. Student type (monk/layman)
2. Nikaya
3. Date of  Ordination (YYYY-MM-DD)
4. Place of  Ordination
5. Samanera Cerificate number

[2021-03-08 04:39] resha007 opened #336 "Transfer all feature"
need a transfer all feature to transfer students from closed school to an active school.

[2021-03-16 04:23] resha007 opened #337 "Change academic period and grade for AL. Resolve before 2020-2021 promotion."
select all the students and change the academic year and grade at once.

[2021-03-31 03:23] resha007 opened #340 "not promoted, 2020 to 2021"
ADAIKALA ANNAI VIDYALAYA(13085) student are not promoted to 2021 academic year

[2021-03-31 03:31] resha007 opened #341 "not promoted any student, 2020 to 2021 in school"
00048 | classes are cloned but students not promoted to 2021 in uat

[2021-03-31 03:32] resha007 opened #342 "promoted but not assigned class"
00238 | AL-AMEEN VIDYALAYA student has got promoted but some students aren't enrolled to a class.

[2021-04-08 10:14] nshamit opened #344 "UAT, records processing"

[2021-04-08 10:36] resha007 commented on #342
academic periods are ok. names are same. but partially assigned students for classes when parallel promotion.

[2021-04-08 10:41] resha007 commented on #342
in 00049, YR2020 classes
![image](https://user-images.githubusercontent.com/45994536/114013201-e8933a80-9884-11eb-8a45-b76633c65b29.png)

in 00049, YR2021 classes.
![image](https://user-images.githubusercontent.com/45994536/114013235-f2b53900-9884-11eb-84ca-c49bf9ea625e.png)

2A has 34 students and 3A should be 34. but in 3A, 0 students.

[2021-04-09 05:35] resha007 commented on #331
no transfer button displayed.
![image](https://user-images.githubusercontent.com/45994536/114133195-4bd3aa00-9923-11eb-8a18-af6ebb8f25f1.png)

permissions of school coordinator.
![image](https://user-images.githubusercontent.com/45994536/114133251-64dc5b00-9923-11eb-9e6f-0b3e60c85a95.png)

![image](https://user-images.githubusercontent.com/45994536/114133290-7160b380-9923-11eb-8f79-ddc765347b4e.pn

[2021-04-20 09:57] HarindaVithana opened #345 "NSID Permission issues for the Admin user"

[2021-04-20 09:58] HarindaVithana opened #346 "Batch processing issue"

[2021-04-20 10:19] nshamit commented on #299
students are displayed in pending admission, not in approved status.
- we need to identify these students, move them to approved status, and make sure the counts are reconciled.

[2021-04-20 12:19] HarindaVithana commented on #345
Add permission to the dockerfile to be exicuted in the server.

[2021-04-21 04:55] HarindaVithana commented on #346
@resha007 has to create the GIT grade and the commands will be executed afterwards.

[2021-04-22 02:54] resha007 commented on #346
created GIT in UAT

[2021-04-22 08:06] resha007 commented on #299
those students cant manual promotion. have to find another solution.

![image](https://user-images.githubusercontent.com/45994536/115678983-b945f880-a36f-11eb-8194-35da4f33f88c.png)

[2021-04-22 10:06] resha007 opened #347 "Gender cannot be changed in directory"
![image](https://user-images.githubusercontent.com/45994536/115696570-73456080-a380-11eb-933b-17c00b2e37b5.png)

[2021-05-03 05:11] #346 closed

[2021-05-06 08:22] HarindaVithana opened #350 "Creating a Form with auto filled student names"
https://drive.google.com/file/d/1PgLuO7yN9UmGjXqWllV6Sj1DPCHZrisZ/view

The above document with auto filled student names should be available for the schools to download.
The form and the upload link should be available in the Institutions dashboard.

[2021-05-11 06:58] HarindaVithana commented on #340
Needed help from Nizar to resolve promotion issues

[2021-05-11 10:40] resha007 commented on #15
we noted those counts of mismatching. we have 37 schools having this issue.
@nshamit @HarindaVithana
https://docs.google.com/spreadsheets/d/1B-UUJFaZ9ee8axcNopaizMCbZxcQW-D3NlL_UY3kw6M/edit?usp=sharing

this issue will effect to #299 also.

[2021-05-18 09:52] HarindaVithana commented on #345
A student data file needed to be added and check the NSID if the fix is working

[2021-05-19 05:27] HarindaVithana commented on #345
The permission issue still exists after the fix. Modifying the docker file to fix the permission issue.

[2021-05-19 05:47] HarindaVithana commented on #350
- [ ]  Creating a link in the homepage section to access the form
- [ ]  Getting the list of student names according to the school login
- [ ]  Display the list of names according to the given format
- [ ]  Convert the list to a downloadable PDF file

[2021-05-22 04:03] HarindaVithana commented on #345
Edited the ExaminationStudentsController.php no longer shows the permission error.
A new error is shown as "Trying to get property 'super_admin' of non-object"

[2021-05-24 05:11] HarindaVithana commented on #345
Issue was fixed after renaming the output file and editing the ExaminationStudentsController.php

[2021-05-24 05:11] #345 closed

[2021-05-26 05:55] HarindaVithana commented on #299
Non-approved records were not found in the mentioned schools. Other Pending students have to be approved manually

[2021-05-26 05:55] #299 closed

[2021-05-28 05:25] HarindaVithana opened #352 "Create an option to upload signed pdf"

[2021-05-28 05:29] HarindaVithana opened #353 "Create an option to upload signed pdf"

[2021-05-28 05:39] HarindaVithana commented on #350
An issue has occurred with creating the examination via sis.
The create option is not shown even when its activated for the user.
Fix the issue before proceeding with the development

[2021-06-16 05:29] resha007 commented on #299
Those students are approved, but there is a count difference.

**All approved - 3566** (Students -> pending admission -> done)

YR2018/2019 -  202
YR2019/2020 -  221
YR2020          - 1940
**Total               - 2363**

difference = 3566 - 2363 = **1203**

Those 1203 students are not listed in Institutions -> Students.

[2021-07-05 09:01] HarindaVithana commented on #340
Promotion Script has written and uploaded for reviewing by Nizar

[2021-07-05 09:14] #335 closed

[2021-07-08 05:40] HarindaVithana commented on #340
Check the students data to find problems in auto promotion.

[2021-07-20 03:13] HarindaVithana commented on #350
development is completed
Need to be reviewed and go through bug fixing.

[2021-07-20 03:13] #350 closed

[2021-08-16 00:41] MojoJojo opened #360 "Instructions for setting up from scratch"
Hi,
I was wondering if there are any instructions available to setup the project form scratch?

I have been tinkering with the project for a while now it seems like the migrations and seeders required to setup the project the very first time need some work.

I am happy to furnish documentation if someone could me out.

Also, I realized that the project is a fork of openEMIS but I couldn't a recent

[2021-08-23 04:59] resha007 commented on #340
13085 school is promoted, but 2 students left in YR2020 and 11 students in YR2019

[2021-08-23 05:01] resha007 commented on #341
00048 school is promoted to 2021 but 262 students in YR2019, 90 students in YR2018.

[2021-08-23 05:04] resha007 commented on #342
still not assigned.

[2021-08-23 05:12] resha007 commented on #15
still have differences

[2021-08-23 05:19] resha007 commented on #294
in 01589, still there are 800+ students still in yr2019.

[2021-09-08 02:49] resha007 commented on #340
2 students in YR2020 - 13 intermediate pool
11 students in YR2019 - grade 11

[2021-09-08 02:49] #340 closed

[2021-09-08 02:54] resha007 commented on #341
262 students in YR2019 - grade 11 (having grade 11 pool, but not promoted)
90 students in YR2018 - grade 12 com

[2021-09-08 03:07] resha007 commented on #342
00238 and 00049 schools have 2 parallel classes in every grade. when promoting, those students assigned to 2nd parallel class correctly and not assigned to the 1st parallel class. this happens in every grade.
ex :
YR2020
2A - 34
2B - 35

YR2021
3A - 0
3B - 35

[2021-09-08 03:12] resha007 commented on #294
in 01589, still there are 800+ students still in yr2019. there may be some other schools like this.

[2021-09-08 06:21] Sandanee commented on #342
In 00049 school  --> Grade_ 11, 7, 8 some students are not promoted to 2021.
![image](https://user-images.githubusercontent.com/61004873/132456685-4a3810e0-6376-49f2-8994-e7a059ee72e0.png)

[2021-09-10 01:16] resha007 commented on #341
262 students in YR2019 promoted to YR2020.

[2022-03-26 00:37] #337 closed

[2022-03-26 00:38] #282 closed